/* ! mars.css | MIT License | github.com/GayaChoi/mars.css */

/* mars-form */
.mars-form {
    width: 100%;
    height: 2.5rem;
    color: black;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    background: white;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    outline: 0;
    margin-bottom: 15px;
}
  
/* actived, focused */
.mars-form:active, .mars-form.is-actived, .mars-form:focus, .mars-form.is-focused {
    border-color: #129fea;
}
  
/* disabled */
.mars-form.is-disabled {
    cursor: not-allowed;
    background-color: #cad2d3;
    color: #cad2d3;
}
  
/* readonly */
  .mars-form.is-readonly {
    background-color: #eeeeee;
    color: #777777;
    border-color: #cccccc;
}
  
/* colors */
  .mars-form.is-color-blue:focus, .mars-form.is-color-blue.is-focused, .mars-form.is-color-blue:active, .mars-form.is-color-blue.is-actived {
    border-color: #006ecf;
}
  
.mars-form.is-color-green:focus, .mars-form.is-color-green.is-focused, .mars-form.is-color-green:active, .mars-form.is-color-green.is-actived {
    border-color: #50c878;
}
  
.mars-form.is-color-yellow:focus, .mars-form.is-color-yellow.is-focused, .mars-form.is-color-yellow:active, .mars-form.is-color-yellow.is-actived {
    border-color: #f8eb00;
}
  
.mars-form.is-color-pink:focus, .mars-form.is-color-pink.is-focused, .mars-form.is-color-pink:active, .mars-form.is-color-pink.is-actived {
    border-color: #df96c1;
}
  
.mars-form.is-color-purple:focus, .mars-form.is-color-purple.is-focused, .mars-form.is-color-purple:active, .mars-form.is-color-purple.is-actived {
    border-color: #a258e8;
}
  
/* state colors */
.mars-form.is-primary:focus, .mars-form.is-primary.is-focused, .mars-form.is-primary:active, .mars-form.is-primary.is-actived {
    border-color: #00b0ff;
}
  
.mars-form.is-success:focus, .mars-form.is-success.is-focused, .mars-form.is-success:active, .mars-form.is-success.is-actived {
    border-color: #00b248;
}
  
.mars-form.is-warning:focus, .mars-form.is-warning.is-focused, .mars-form.is-warning:active, .mars-form.is-warning.is-actived {
    border-color: #ff9d3f;
}
  
.mars-form.is-error:focus, .mars-form.is-error.is-focused, .mars-form.is-error:active, .mars-form.is-error.is-actived {
    border-color: #ff5722;
}
  
/* rounded */
.mars-form.is-normal-rounded {
    border-radius: 3px;
}
  
.mars-form.is-little-rounded {
    border-radius: 0.5em;
}
  
.mars-form.is-rounded {
    border-radius: 2em;
}
  
/* size */
.mars-form.is-size-1 {
    width: 100%;
}
  
.mars-form.is-size-3-4 {
    width: 75%;
}
  
.mars-form.is-size-2-3 {
    width: 66%;
}
  
.mars-form.is-size-1-2 {
    width: 50%;
}
  
.mars-form.is-size-1-3 {
    width: 33%;
}
  
.mars-form.is-size-1-4 {
    width: 25%;
}
  
/* underline */
.mars-form-underline {
    width: 100%;
    height: 2.5rem;
    color: black;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    background: white;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    outline: 0;
    margin-bottom: 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    background: white;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
  
/* underline size */
.mars-form-underline.is-size-1 {
    width: 100%;
}
  
.mars-form-underline.is-size-3-4 {
    width: 75%;
}
  
.mars-form-underline.is-size-2-3 {
    width: 66%;
}
  
.mars-form-underline.is-size-1-2 {
    width: 50%;
}
  
.mars-form-underline.is-size-1-3 {
    width: 33%;
}
  
.mars-form-underline.is-size-1-4 {
    width: 25%;
}
  
/* underline actived, focused */
.mars-form-underline:active, .mars-form-underline.is-actived, .mars-form-underline:focus, .mars-form-underline.is-focused {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #129fea;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-color-blue:focus, .mars-form-underline.is-color-blue.is-focused, .mars-form-underline.is-color-blue:active, .mars-form-underline.is-color-blue.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #006ecf;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-color-green:focus, .mars-form-underline.is-color-green.is-focused, .mars-form-underline.is-color-green:active, .mars-form-underline.is-color-green.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #50c878;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-color-yellow:focus, .mars-form-underline.is-color-yellow.is-focused, .mars-form-underline.is-color-yellow:active, .mars-form-underline.is-color-yellow.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #f8eb00;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-color-pink:focus, .mars-form-underline.is-color-pink.is-focused, .mars-form-underline.is-color-pink:active, .mars-form-underline.is-color-pink.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #df96c1;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-color-purple:focus, .mars-form-underline.is-color-purple.is-focused, .mars-form-underline.is-color-purple:active, .mars-form-underline.is-color-purple.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #a258e8;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
/* underline state color actived, focused */
.mars-form-underline.is-primary:focus, .mars-form-underline.is-primary.is-focused, .mars-form-underline.is-primary:active, .mars-form-underline.is-primary.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #00b0ff;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-success:focus, .mars-form-underline.is-success.is-focused, .mars-form-underline.is-success:active, .mars-form-underline.is-success.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #00b248;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-warning:focus, .mars-form-underline.is-warning.is-focused, .mars-form-underline.is-warning:active, .mars-form-underline.is-warning.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #ff9d3f;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
.mars-form-underline.is-error:focus, .mars-form-underline.is-error.is-focused, .mars-form-underline.is-error:active, .mars-form-underline.is-error.is-actived {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #ff5722;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
  
/* input, textarea, select disabled & readonly type */
input.mars-form[disabled],
textarea.mars-form[disabled],
select.mars-form[disabled] {
    cursor: not-allowed;
    background-color: #cad2d3;
    color: #cad2d3;
}
  
input.mars-form[readonly],
textarea.mars-form[readonly],
select.mars-form[readonly] {
    background-color: #eeeeee;
    color: #777777;
    border-color: #cccccc;
}
  
input.mars-form[type="color"] {
    padding: 0.2em 0.5em;
}
  
/* textarea */
textarea.mars-form {
    height: calc(2.5rem * 5);
}
  
/* label */
label.forms-label {
    margin: 0.5em 0.75em 0.5em;
}

/* mars-form-checkbox attribute */
.mars-form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
    height: 20px;
}
  
.mars-form-checkbox > .is-checked {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    -o-border-image: initial;
       border-image: initial;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    border-color: #dfdfdf;
    cursor: pointer;
}
  
.mars-form-checkbox > .checkbox-check-icon {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
    color: white;
}
  
.mars-form-checkbox > .checkbox-check-icon > svg {
    fill: white;
}
  
.mars-form-checkbox > input:not(:disabled):checked {
    background-color: #129fea;
    border-color: #129fea;
}
  
.mars-form-checkbox > input:disabled + .checkbox-check-icon svg {
    fill: #cccccc;
    cursor: not-allowed;
}
  
.mars-form-checkbox.is-color-blue > input:not(:disabled):hover {
    border-color: #006ecf;
}
  
.mars-form-checkbox.is-color-blue > input:checked {
    background-color: #006ecf;
    border-color: #006ecf;
}
  
.mars-form-checkbox.is-color-green > input:not(:disabled):hover {
    border-color: #50c878;
}
  
.mars-form-checkbox.is-color-green > input:checked {
    background-color: #50c878;
    border-color: #50c878;
}
  
.mars-form-checkbox.is-color-yellow > input:not(:disabled):hover {
    border-color: #f8eb00;
}
  
.mars-form-checkbox.is-color-yellow > input:checked {
    background-color: #f8eb00;
    border-color: #f8eb00;
}
  
.mars-form-checkbox.is-color-pink > input:not(:disabled):hover {
    border-color: #df96c1;
}
  
.mars-form-checkbox.is-color-pink > input:checked {
    background-color: #df96c1;
    border-color: #df96c1;
}
  
.mars-form-checkbox.is-color-purple > input:not(:disabled):hover {
    border-color: #a258e8;
}
  
.mars-form-checkbox.is-color-purple > input:checked {
    background-color: #a258e8;
    border-color: #a258e8;
}
  
.mars-form-checkbox.is-primary > input:not(:disabled):hover {
    border-color: #00b0ff;
}
  
.mars-form-checkbox.is-primary > input:checked {
    background-color: #00b0ff;
    border-color: #00b0ff;
}
  
.mars-form-checkbox.is-success > input:not(:disabled):hover {
    border-color: #00b248;
}
  
.mars-form-checkbox.is-success > input:checked {
    background-color: #00b248;
    border-color: #00b248;
}
  
.mars-form-checkbox.is-warning > input:not(:disabled):hover {
    border-color: #ff9d3f;
}
  
.mars-form-checkbox.is-warning > input:checked {
    background-color: #ff9d3f;
    border-color: #ff9d3f;
}
  
.mars-form-checkbox.is-error > input:not(:disabled):hover {
    border-color: #ff5722;
}
  
.mars-form-checkbox.is-error > input:checked {
    background-color: #ff5722;
    border-color: #ff5722;
}
  
.mars-form-checkbox > input {
    border-width: 3px;
    border-style: solid;
}
  
.mars-form-checkbox > input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    padding: initial;
}
  
.mars-form-checkbox > input:disabled {
    color: #949494;
    background-color: #eaeded;
    border-color: #bebebe;
    border-width: 3px;
    border-style: solid;
}
  
.mars-form-checkbox > input:not(:disabled) {
    border-color: #dfdfdf;
}
  
.mars-form-checkbox > input:not(:disabled):hover {
    border-color: #129fea;
}
  
svg:not(:root) {
    overflow: hidden;
}
  
/* label attribute */
.checkbox-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

/* mars-form-radio attribute */
/* checkbox-radio */
.mars-form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 20px;
}

/* mars-form-radio checked */
.mars-form-radio > .is-checked {
  all: unset;
  width: 20px;
  height: 20px;
  display: block;
  background: none;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-color: #dfdfdf;
  cursor: pointer;
}

/* mars-form-radio check icon */
.mars-form-radio > .radio-check-icon {
  position: absolute;
  display: block;
  top: 15%;
  left: 10px;
}

.mars-form-radio > .radio-check-icon > svg {
  fill: #129fea;
}

.mars-form-radio > input {
  border-width: 3px;
  border-style: solid;
}

.mars-form-radio > input[type="checkbox"] {
  margin: 3px 3px 3px 4px;
  padding: initial;
}

.mars-form-radio > input:disabled {
  color: #949494;
  background-color: #eaeded;
  border-color: #bebebe;
  border-width: 3px;
  border-style: solid;
}

.mars-form-radio > input:not(:disabled) {
  border-color: #dfdfdf;
}

.mars-form-radio > input:not(:disabled):hover {
  border-color: #129fea;
}

.mars-form-radio > input:not(:disabled):checked {
  border-color: #129fea;
}

.mars-form-radio > input:disabled + .radio-check-icon svg {
  fill: #cccccc;
  cursor: not-allowed;
}

/* mars-form-radio colors */
.mars-form-radio.is-blue > input:not(:disabled):hover,
.mars-form-radio.is-blue > input:not(:disabled):checked {
  border-color: #006ecf;
}

.mars-form-radio.is-blue > .radio-check-icon svg {
  fill: #006ecf;
}

.mars-form-radio.is-green > input:not(:disabled):hover,
.mars-form-radio.is-green > input:not(:disabled):checked {
  border-color: #50c878;
}

.mars-form-radio.is-green > .radio-check-icon svg {
  fill: #50c878;
}

.mars-form-radio.is-yellow > input:not(:disabled):hover,
.mars-form-radio.is-yellow > input:not(:disabled):checked {
  border-color: #f8eb00;
}

.mars-form-radio.is-yellow > .radio-check-icon svg {
  fill: #f8eb00;
}

.mars-form-radio.is-pink > input:not(:disabled):hover,
.mars-form-radio.is-pink > input:not(:disabled):checked {
  border-color: #df96c1;
}

.mars-form-radio.is-pink > .radio-check-icon svg {
  fill: #df96c1;
}

.mars-form-radio.is-purple > input:not(:disabled):hover,
.mars-form-radio.is-purple > input:not(:disabled):checked {
  border-color: #a258e8;
}

.mars-form-radio.is-purple > .radio-check-icon svg {
  fill: #a258e8;
}

/* mars-form-radio state-colors */
.mars-form-radio.is-primary > input:not(:disabled):hover,
.mars-form-radio.is-primary > input:not(:disabled):checked {
  border-color: #00b0ff;
}

.mars-form-radio.is-primary > .radio-check-icon svg {
  fill: #00b0ff;
}

.mars-form-radio.is-success > input:not(:disabled):hover,
.mars-form-radio.is-success > input:not(:disabled):checked {
  border-color: #00b248;
}

.mars-form-radio.is-success > .radio-check-icon svg {
  fill: #00b248;
}

.mars-form-radio.is-warning > input:not(:disabled):hover,
.mars-form-radio.is-warning > input:not(:disabled):checked {
  border-color: #ff9d3f;
}

.mars-form-radio.is-warning > .radio-check-icon svg {
  fill: #ff9d3f;
}

.mars-form-radio.is-error > input:not(:disabled):hover,
.mars-form-radio.is-error > input:not(:disabled):checked {
  border-color: #ff5722;
}

.mars-form-radio.is-error > .radio-check-icon svg {
  fill: #ff5722;
}

svg:not(:root) {
  overflow: hidden;
}

/* label attribute */
.radio-label {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}