

// Variables
// ========================================================================


/* input checkbox disabled color */
$input-checkbox-disabled-color:         #949494 !default;
$input-checkbox-disabled-bgcolor:       #eaeded !default;
$input-checkbox-border-color:           #bebebe !default;


/* ========================================================================
    forms : checkbox
 ========================================================================== */



/* default */
.mars-form-checkbox {
    @include box();

    & > .is-checked {
        @include check(3px);
    }

    & > .checkbox-check-icon {
        @include checkIcon();
        color: $white;
        & > svg {
            fill: $white;
        }    
    }

    /* default color checked event */
    & > input:not(:disabled):checked {
        background-color: $default;
        border-color: $default; 
    }

    & > input:disabled + .checkbox-check-icon svg {
        fill: $input-box-disabled-fill;
        cursor: not-allowed;
    }
    
    /* colors checked hovered  */
    @each $name in $color-names {
        &.is-color-#{$name} > input:not(:disabled):hover {
            border-color: map-get($colors,#{$name});
        }

        &.is-color-#{$name} > input:checked {
            background-color: map-get($colors,#{$name});               
            border-color: map-get($colors,#{$name});
        }
    }
    
    & > input {
        border-width: $input-box-border-width;
        border-style: $input-box-border-style;

        &[type="checkbox"] {
            margin: $input-box-margin;
            padding: $input-box-padding;       
        }

        /* checkbox disabled attribute */
        &:disabled {
           @include box-disabled();
        }

        &:not(:disabled) {
            border-color: $input-box-border-color;
        }

        /* default hover */
        &:not(:disabled):hover {
            border-color: $default;
        }
    }
}

svg:not(:root) {
    overflow: hidden;
}

/* label attribute */
.checkbox-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}


