
// Variables
// ========================================================================




/* input variables*/
$input-width:                                                 100% !default;
$input-font-family:                                           inherit !default;
$input-font-style:                                            normal !default;
$input-font-weight:                                           normal !default;
$input-font-size:                                             inherit !default;
$input-padding-vertical:                                      0.5em !default;
$input-padding-horizontal:                                    1em !default;
$input-border-box:                                            border-box !default;
$input-box-shadow-size:                                       0px 2px 4px 0px !default;
$input-margin-bottom:                                         15px !default;



/* input size maps */
/* input size variable */
$input-1:                                                      100% !default;
$input-3-4:                                                    75% !default;
$input-2-3:                                                    66% !default;
$input-1-2:                                                    50% !default;
$input-1-3:                                                    33% !default;
$input-1-4:                                                    25% !default;




$sizes: "1","3-4","2-3","1-2","1-3","1-4";
$size: (
   "1": $input-1,
   "3-4": $input-3-4,
   "2-3": $input-2-3,
   "1-2": $input-1-2,
   "1-3": $input-1-3,
   "1-4": $input-1-4
);



/* ========================================================================
    Components : input
 ========================================================================== */

 .mars-form {
    width: $input-width;
    max-width: $input-width;
    color: $black;  
    font-family: $input-font-family;
    font-style: $input-font-style;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    display: inline-block;
    padding: $input-padding-vertical $input-padding-horizontal;
    border: 1px solid $transparent;
    background: $white;
    vertical-align: middle;
    box-sizing: $input-border-box;
    box-shadow: rgba(0,0,0,0.1) $input-box-shadow-size;
    outline: $input-outline;
    border-radius: 4px;
    margin-bottom: $input-margin-bottom;


    &:active, &.actived, 
    &:focus, &.focused {
        border-color: $default;      
    }

    
    @each $name in $color-names {
        &.#{$name} {
           &:focus, &.focused,
            &:active, &.actived {
              border-color: map-get($colors, #{$name});   
           }
        }          
    }

   
    &.rounded-nor {
        border-radius: $input-radius-nor;
    }

    &.rounded-md {
        border-radius: $input-radius-md;
    }

    &.rounded-lg {
        border-radius: $input-radius-lg;
    }

    
    @each $value in $sizes {
        &.w-#{$value} {
            width: map-get($size, #{$value}) !important;
        }    
    }

    
    &[disabled] {
        @include input-disabled();
    }

    &[readonly] {
        @include input-readonly();
    }
        
    &[type="color"] {
        padding: 0.2em 0.5em;
    }


&.u {
    border: 2px solid $transparent;
    border-radius: $input-radius-nor !important;
    border-width: $input-border-width 0px;
    background: $white;
    box-sizing: $input-border-box;
    box-shadow: $input-box-shadow-size rgba(0, 0, 0, 0.1);
    transition: $transition;
    
    
    @each $value in $sizes {
        &.w-#{$value} {
            width: map-get($size, #{$value}) !important;
        }    
    }

   
    &:active, &.actived, 
    &:focus, &.focused {
        @include input-underline($default);
    } 

   
    @each $name in $color-names {
        &.#{$name} {
           &:focus, &.focused, 
           &:active, &.actived {
               @include input-underline(map-get($colors,#{$name}));   
           }
        }          
    }
  }
} 






