

// Variables
// ========================================================================

/* modals variables */
$modal-pos-1:                                             relative !default;
$modal-pos-2:                                             absolute !default;
$modal-pos-2-top:                                         1.5rem !default;
$modal-pos-2-right:                                       1.5rem !default;
$modal-width:                                             30rem !default;
$modal-padding:                                           3rem 1.5rem 3rem 1.5rem !default;
$modal-border-radius:                                     4px !default;
$modal-font-size:                                         16px !default;
$modal-font-weight:                                       600 !default;
$modal-margin-bottom:                                     100px !default;
$modal-box-shadow:                                        0px 30px 30px 0px !default;
$modal-text-decoration:                                   underline !default;
$modal-none-border:                                       none !default; 
$modal-display-inline-block:                              inline-block !default;
$modal-display-block:                                     block !default;
$modal-outline:                                           0 !default;
$modal-vertical-align:                                    top !default;


/* modal delete */
$modal-delete-font-size:                                  0px !default;
$modal-delete-width:                                      20px !default;
$modal-delete-height:                                     20px !default;
$modal-delete-max-width:                                  20px !default;
$modal-delete-max-height:                                 20px !default;
$modal-delete-min-width:                                  20px !default;
$modal-delete-min-height:                                 20px !default;
$modal-delete-pos-top:                                    50% !default;
$modal-delete-pos-left:                                   50% !default;
$modal-delete-transform:                                  translateX(-50%) translateY(-50%) rotate(45deg) !default;
$modal-delete-transform-origin:                           center center !default;
$modal-delete-before-width:                               100% !default;
$modal-delete-before-height:                              2px !default;
$modal-delete-after-width:                                2px !default;
$modal-delete-after-height:                               100% !default;
$modal-delete-small:                                      16px !default;
$modal-delete-medium:                                     24px !default;
$modal-delete-large:                                      32px !default;


/* modal title */
$modal-title-margin-top:                                  15px !default;
$modal-title-margin-bottom:                               10px !default;



/* ========================================================================
    Components: modals
 ========================================================================== */




.mars-modal {
    position: $modal-pos-1;
    background-color: $white;
    width: $modal-width;
    padding: $modal-padding;
    border-radius: $modal-border-radius;
    font-size: $modal-font-size;
    text-align: center;
    margin-bottom: $modal-margin-bottom;
    box-shadow: $modal-box-shadow rgba(0, 0, 0, 0.1);
    box-sizing: border-box !important;
    

    & a:not(.mars-btn) {
        color: $current;
        text-decoration: $modal-text-decoration;
    }
    
    & strong {
        color: $current;
    }

    & code, pre {
        background: $white;
    }

    & pre code {
        background: $transparent;
    }

    & .delete {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: $modal-none-border;
        border-radius: $modal-border-radius;
        cursor: pointer;
        pointer-events: auto;
        display: $modal-display-inline-block;
        font-size: $modal-delete-font-size;
        height: $modal-delete-height;
        max-width: $modal-delete-max-width;
        max-height: $modal-delete-max-height;
        min-height: $modal-delete-min-height;
        min-width: $modal-delete-min-width;
        outline: $modal-outline;
        position: $modal-pos-1;
        vertical-align: $modal-vertical-align;
        width: $modal-delete-width;
        background-color: $white;
    }

    & .delete {
        position: $modal-pos-2;
        right: $modal-pos-2-right;
        top: $modal-pos-2-top;

        /* modal delete size */
        &.is-small {
            @include delete-sizes($modal-delete-small); 
        }

        &.is-medium {
            @include delete-sizes($modal-delete-medium); 
        }

        &.is-large {
            @include delete-sizes($modal-delete-large); 
        }

        &::before,
        &::after {
            content: "";
            display: $modal-display-block;
            top: $modal-delete-pos-top;
            left: $modal-delete-pos-left;
            position: $modal-pos-2;
            transform: $modal-delete-transform;
            transform-origin: $modal-delete-transform-origin;
            background-color: $background; 
        }

        &::before {
            height: $modal-delete-before-height;
            width: $modal-delete-before-width;
        }

        &::after {
            height: $modal-delete-after-height;
            width: $modal-delete-after-width;
        }
    }

    & .is-title {
        display: $modal-display-block;
        font-size: 22px;
        font-weight: $modal-font-weight;
        margin-top: $modal-title-margin-top;
        margin-bottom: $modal-title-margin-bottom; 
        color: $black;
    }
    
    /* color */
    @each $name in $color-names {
        & .is-title.is-#{$name} {
            color: map-get($colors, #{$name});
        }
    }
}