
// Variables
// ========================================================================





/* ========================================================================
    forms : radio
 ========================================================================== */

.mars-form-radio {
    @include box();

    & > .checked {
        @include check(50%);
    }

    
    & > .check-icon {
        @include checkIcon();        
      
        & > svg {
            fill: $default;
        }
    }

    & > input {
        border-width: $input-box-border-width;
        border-style: $input-box-border-style;

        &[type="checkbox"] {
            margin: $input-box-margin;
            padding: $input-box-padding;       
        }

        
        &:disabled {
           @include box-disabled();
        }

        &:not(:disabled) {
            border-color: $input-box-border-color;
        }

        &:not(:disabled):hover {
            border-color: $default;
        }
        
        &:not(:disabled):checked {
            border-color: $default; 
        }

        &:disabled 
          + .check-icon svg {
              fill: $input-box-disabled-fill;
              cursor: not-allowed;
        }
    }

    @each $name in $color-names {
        &.#{$name} > input:not(:disabled):hover, 
        &.#{$name} > input:not(:disabled):checked {
            border-color: map-get($colors,#{$name});
        }

        &.#{$name} > .check-icon svg {               
             fill: map-get($colors,#{$name});
        }
    }
}

svg:not(:root) {
    overflow: hidden;
}

.radio-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}
