// Variables
//



/* colors */
$default: rgb(18,159,234) !default;
$blue: rgb(0,110,207) !default;
$green: rgb(80,200,120) !default;
$yellow: rgb(248,235,0) !default;
$pink: rgb(223,150,193) !default;
$purple: rgb(162,88,232) !default;
$disabled: rgb(202,210,211) !default;
$read-only:rgb(238,238,238) !default;
$black: rgb(0,0,0) !default;
$background: rgba(51, 50, 56, 0.52) !default;
$transparent: transparent !default;
$white:#ffffff !default;
$current: currentColor !default;



/* state color */
$primary: rgb(0,176,255) !default;
$success: rgb(0,178,72) !default;
$warning: rgb(255,157,63) !default;
$error: rgb(255,87,34) !default;


/* input checkbox, radio color */
$input-box-border-color: rgb(223, 223, 223) !default;

/* input checkbox radio disabled color */
$input-box-disabled-fill: rgb(204, 204, 204) !default;

/* button hovered color */
$button-hovered-color: transparent !default;

/* button disabled color */
$button-disabled-background-color: rgb(234,237,237) !default; 


/* button gradient color */
$gradient-default: #1233ea !default;
$gradient-blue: #002a50 !default;
$gradient-green: #319b54 !default;
$gradient-yellow:  #aca300 !default;
$gradient-pink: #c74792 !default;
$gradient-purple: #6217a9 !default;   
$gradient-primary: #0031ff !default;
$gradient-success: #006629 !default;
$gradient-warning: #f27600 !default;
$gradient-error: #d53300 !default;


/* color maps */
$color-names: "blue","green","yellow","pink","purple","primary","success","warning","error";
$colors: (
    "blue": $blue,
    "green": $green,
    "yellow": $yellow,
    "pink": $pink,
    "purple": $purple,
    "primary": $primary,
    "success": $success,
    "warning": $warning,
    "error": $error
);


/* button gradient maps */
$gradient-colors: (
   "blue": $gradient-blue,
   "green": $gradient-green,
   "yellow": $gradient-yellow,
   "pink": $gradient-pink,
   "purple": $gradient-purple, 
   "primary": $gradient-primary,
   "success": $gradient-success,
   "warning": $gradient-warning,
   "error": $gradient-error
);


/* input variables*/
$input-width: 100% !default;
$input-height: 2.5rem !default;
$input-font-family: inherit !default;
$input-font-style: normal !default;
$input-font-weight: normal !default;
$input-font-size: inherit !default;
$input-padding-vertical: 0.5em !default;
$input-padding-horizontal: 1em !default;
$input-border-box: border-box !default;
$input-box-shadow-size: 0px 2px 4px 0px !default;
$input-outline: 0 !default;
$input-margin-bottom: 15px !default;
$input-radius: 3px !default;
$input-radius-md: 0.5em !default;
$input-radius-lg: 2em !default;  
$input-border-width: 2px !default; 
$input-transition: all 0.2s ease-in-out 0s !default;



/* input checkbox & radio */
$input-box-display: flex !default;
$input-box-border-width: 3px !default;
$input-box-icon-display: block !default;
$input-box-icon-pos: absolute !default; 
$input-box-background: none !default;
$input-box-items: center !default;
$input-box-pos: relative !default;
$input-box-width: 20px !default;
$input-box-height: 20px !default;
$input-box-border-style: solid !default;
$input-box-border-image: initial !default;
$input-box-padding: initial !default;
$input-box-margin: 3px 3px 3px 4px !default;

/* input size variable */
$input-1: 100% !default;
$input-3-4: 75% !default;
$input-2-3: 66% !default;
$input-1-2: 50% !default;
$input-1-3: 33% !default;
$input-1-4: 25% !default;

/* input size maps */
$sizes: "1","3-4","2-3","1-2","1-3","1-4";
$size: (
   "1": $input-1,
   "3-4": $input-3-4,
   "2-3": $input-2-3,
   "1-2": $input-1-2,
   "1-3": $input-1-3,
   "1-4": $input-1-4
);

/* buttons variables */
/* button variable */
$button-width: 10rem !default;
$button-font-family: inherit !default;
$button-font-size: 1rem !default;
$button-font-weight: 500 !default;
$button-border-width: 2px !default;
$button-border-image: initial !default;
$button-text-decoration: none !default;
$button-margin-bottom: 30px !default;
$button-transition: all 0.2s ease-in-out 0s !default;
$button-outline: 0 !default;
$button-box-shadow-size: 0px 10px 25px !default; 
$button-background-size: 400% 400% !default;
$button-padding-vertical: 0.85em !default;
$button-padding-horizontal: 1em !default;
$button-none-border: none !default;
$button-none-box-shadow: none !default;

/* button actived */
$button-active-box-shadow-size: 0 0 0 1px !default;

/* button hovered */
$button-hovered-opacity: 0.75 !default;

/* button disabled variable */
$button-disabled-opacity: 1 !default;
$button-disabled-background-image: none !default;


/* button size variable */
$button-small: 0.75rem !default;
$button-medium: 1.25rem !default;
$button-normal: 1rem !default;
$button-large: 1.5rem !default;

/* button radius size */
$button-radius: 4px !default;
$button-radius-md: 1em !default;
$button-radius-lg: 2em !default;

/* size maps */
$sizes: "small","medium","normal","large";
$size: (
    "small": $button-small,
    "medium": $button-medium,
    "normal": $button-normal,
    "large": $button-large
);


/* modals variables */
$modal-pos-1: relative !default;
$modal-pos-2: absolute !default;
$modal-pos-2-top: 1.5rem !default;
$modal-pos-2-right: 1.5rem !default;
$modal-width: 30rem !default;
$modal-padding: 3rem 1.5rem 3rem 1.5rem !default;
$modal-border-radius: 4px !default;
$modal-font-size: 16px !default;
$modal-font-weight: 600 !default;
$modal-margin-bottom: 100px !default;
$modal-box-shadow: 0px 30px 30px 0px !default;
$modal-text-decoration: underline !default;
$modal-none-border: none !default; 
$modal-display-inline-block: inline-block !default;
$modal-display-block: block !default;
$modal-outline: 0 !default;
$modal-vertical-align: top !default;

/* modal delete class */
$modal-delete-font-size: 0px !default;
$modal-delete-width: 20px !default;
$modal-delete-height: 20px !default;
$modal-delete-max-width: 20px !default;
$modal-delete-max-height: 20px !default;
$modal-delete-min-width: 20px !default;
$modal-delete-min-height: 20px !default;
$modal-delete-pos-top: 50% !default;
$modal-delete-pos-left: 50% !default;
$modal-delete-transform: translateX(-50%) translateY(-50%) rotate(45deg) !default;
$modal-delete-transform-origin: center center !default;
$modal-delete-before-width: 100% !default;
$modal-delete-before-height: 2px !default;
$modal-delete-after-width: 2px !default;
$modal-delete-after-height: 100% !default;
$modal-delete-small: 16px !default;
$modal-delete-medium: 24px !default;
$modal-delete-large: 32px !default;

/* modal title */
$modal-title-margin-top: 15px !default;
$modal-title-margin-bottom: 10px !default;



