/* modals colors */
$blue:rgb(0,110,207) !default;
$green: rgb(80,200,120) !default;
$yellow: rgb(248,235,0) !default;
$pink:rgb(223,150,193) !default;
$purple: rgb(162,88,232) !default;
$background: rgba(51, 50, 56, 0.52) !default;
$white: #ffffff !default;
$black: rgb(0,0,0) !default;
$current: currentColor !default;
$transparent: transparent !default;
 

/* state colors */
$primary: #00B0FF !default;
$success: #00B248 !default;
$warning:  #FF9D3F !default;
$error: #FF5722 !default;  


/* colors maps */
$color-names: "blue","green","yellow","pink","purple";
$colors: (
   "blue": $blue,
   "green": $green,
   "yellow": $yellow,
   "pink": $pink,
   "purple": $purple
);  

/* state color maps */
$state-color-names: "primary","success","warning","error";
$state-colors: (
   "primary": $primary,
   "success": $success,
   "warning": $warning,
   "error": $error
);  



