@import './variable';
@import './mixins/common';


@include wrap();
@include header();


.buttons-area {
    @include area-property();
    

    & button,a {
       text-align: center;
    }

    &-heading {
        font-size: 30px;
        font-weight: normal; 
        line-height: 0.85em;
        margin-bottom: 25px;         
    }

    & >  h3 >  a {
        text-decoration: none;
        color: rgba(0,0,0,0.85);
        cursor: pointer;      
    }

    & .highlight {
        @include highlight();

        & pre {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            background-color: transparent;
            border: 0;
        }

        & pre code {
            font-size: inherit;
            color: #212529;
            position: relative;
            left: -180px;
        }
    }

    & pre {
        display: block;
        font-size: 87.5%;
        color: #212529;
        overflow: auto;
        word-break: normal;
    }

    & figure {
        width: 100%;
    }

    & p > a.chart-link {
        color: #a7a7a7;
        font-weight: normal;  
        text-decoration: none;
    } 

    & p {
        margin-bottom: 50px;
    }

    & .badge {
        @include badge();
       
 
        & .mars-button {
            width: 3rem;
            padding: 0;
            margin-right: 10px;
            box-shadow: none;
        }
 
        & .mars-button:hover {
            opacity: 1;
        }
    }

    & .tb-container {
         @include table();
    }
}


.buttons-contents  {
    display: $flex-display;
    flex-direction: column;


    & > * {
        margin-bottom: 80px;
    }

    & > .buttons-area:nth-of-type(1),
    & > .buttons-area:nth-of-type(2) {
        margin-bottom: 0px;
    }
}

.highlighter-rouge {
    @include rouge();
}

h1.buttons-title {
    @include title();
}


span {
    @include span();
}


