@import './variable';
@import './mixins/common';


@include wrap();
@include header();


.forms-contents {
    display: $flex-display;
    flex-direction: column;


    & > * {
       margin-bottom: 50px;
    }
}

h1.forms-title {
   @include title();
}

.highlighter-rouge {
   @include rouge();
}
 
.forms-area {
    @include area-property();


    &-heading {
        font-size: 30px;
        font-weight: normal;
        line-height: 0.85em;
        margin-bottom: 25px;
    }
    
    & >  h3 >  a {
        text-decoration: none;
        color: rgba(0,0,0,0.85);
        cursor: pointer;      
    }

    & .highlight {
        @include highlight();
        
        & pre {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            background-color: transparent;
            border: 0;
        }

        & pre code {
            font-size: inherit;
            color: #212529;
            position: relative;
            left: -180px;
        }
    }

    & pre {
        display: block;
        font-size: 87.5%;
        color: #212529;
        overflow: auto;
        word-break: normal;
    }

    & figure {
        width: 100%;
    }

    & .badge {
      @include badge();
      

       & .mars-btn {
           width: 3rem;
           padding: 0;
           margin-right: 10px;
           box-shadow: none;
       }

       & .mars-btn:hover {
           opacity: 1;
       }
    }

    & .tb-container {
        @include table();
    }

    & p {
        margin-bottom: 50px;
    }
}

span {
  @include span();
}


label.forms-label {
    display: block;
    font-weight: 700;
    font-size: 1em;
    margin: 3.5em 0.75em 1.5em;
}

.mars-form legend {
    display: block;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}




