/* form main page */
.forms-wrap {
  padding: 130px;
  color: black;
  font-size: 14px;
}

.forms-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forms-contents > * {
  margin-bottom: 50px;
}

h1.forms-title {
  font-size: 40px;
  font-weight: 400;
  font-family: inherit;
  cursor: default;
  margin-bottom: 40px;
}

h1.forms-title > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.highlighter-rouge {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
  padding: .25em .5em .25em;
}

.highlighter-rouge.bghr {
  background-color: #e9e9e9;
}

.forms-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.forms-area-heading {
  font-size: 30px;
  font-weight: normal;
  line-height: 0.85em;
  margin-bottom: 25px;
}

.forms-area > h3 > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.forms-area .highlight {
  display: block;
  background-color: #eeeeee;
  padding: 1.5rem;
  margin: 3rem;
}

.forms-area .highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}

.forms-area .highlight pre code {
  font-size: inherit;
  color: #212529;
  position: relative;
  left: -180px;
}

.forms-area pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  overflow: auto;
  word-break: normal;
}

.forms-area figure {
  width: 100%;
}

.forms-area .badge {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forms-area .badge .mars-button {
  width: 3rem;
  padding: 0;
  margin-right: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.forms-area .badge .mars-button:hover {
  opacity: 1;
}

.forms-area .tb-container {
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.forms-area .tb-container .tb {
  background: #ffffff;
  color: #363636;
}

.forms-area .tb-container table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.forms-area .tb-container table thead {
  background-color: transparent;
  border: 1px solid #dbdbdb;
}

.forms-area .tb-container tr:last-child th {
  border-bottom-width: 1px;
}

.forms-area .tb-container th {
  border-width: 1px;
  border: 1px solid #dbdbdb;
}

.forms-area .tb-container td {
  border-width: 1px;
  text-align: left;
  border: 1px solid #dbdbdb;
  padding: .5em .75em;
  vertical-align: top;
}

.forms-area .tb-container td .tag {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: .75em;
  height: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}

.forms-area .tb-container td .bd-color {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

span.s {
  color: #ff5252;
}

span.nh, span.nt {
  color: #0051ff;
}

span.na {
  color: #00d2ff;
}

label.forms-label {
  display: block;
  font-weight: 700;
  font-size: 1em;
  margin: 3.5em 0.75em 1.5em;
}

.mars-form legend {
  display: block;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #000000;
  border-bottom: 1px solid #e5e5e5;
}
/*# sourceMappingURL=forms.css.map */