// input disabled 
@mixin disabled() {
    cursor: not-allowed;
    background-color: $input-disabled-bg-color;
    color: $input-disabled-color;
}

// input readonly 
@mixin readonly() {
    background-color: $input-readonly-bgcolor;
    color: $input-readonly-color;
    border-color: $input-readonly-border;
}

// input-underline 
@mixin underline(
    $color,
    $outline: $input-outline,
    $border: 2px solid $border,
    $border-radius: $input-radius,
    $border-width: $input-border-width 0px,
    $border-bottom: 2px solid $color,
    $box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1)
) {
    outline: $outline;
    border: $border;
    border-radius: $border-radius;
    border-width: $border-width; 
    border-bottom: $border-bottom;
    box-shadow: $box-shadow;
}

// checkbox & radio 
@mixin box() {
    display: $input-box-display;
    align-items: $input-box-items;
    position: $input-box-pos;
    cursor: pointer;
    height: $input-box-height;
}

@mixin check(
    $_size,
    $all: unset,
    $width: $input-box-width,
    $height: $input-box-height, 
    $display: $input-box-icon-display,
    $background: $input-box-background,
    $border-radius: $_size,
    $border-width: $input-box-border-width,
    $border-style: $input-box-border-style,
    $border-image: $input-box-border-image,
    $transition: $input-transition,
    $border-color: $input-box-border-color,
    $cursor: pointer
) {
    all: $all;
    width: $width;
    height: $height; 
    display: $display;
    background: $background;
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $border-style;
    border-image: $border-image;
    transition: $transition;
    border-color: $border-color;
    cursor: $cursor;
}

@mixin checkIcon() {
    position: $input-box-icon-pos;
    display: $input-box-icon-display;
    top: 15%;
    left: 10px;
}

@mixin box-disabled() {
    color: $input-checkbox-disabled-color;
    background-color: $input-checkbox-disabled-bgcolor;
    border-color: $input-checkbox-border-color;
    border-width: $input-box-border-width;
    border-style: $input-box-border-style;
}
