// input default 
@mixin input() {
    width: 100%;
    height: 2.5rem;
    color: #000000;  
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    background: white;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;
    outline: 0;
    margin-bottom: 15px;
}

// input disabled 
@mixin disabled() {
    cursor: not-allowed;
    background-color: $disabled-color;
    color: rgb(202, 210, 211); 
}

// input readonly 
@mixin readonly() {
    background-color: #eeeeee;
    /* menu hover bg color */
    color: #777777;
    /* menu text color */
    border-color: #cccccc;
}

// input-underline 
@mixin underline($color) {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid $color;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

// checkbox & radio 
@mixin box() {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 20px;
}

@mixin check($_size) {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: $_size;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-color: rgb(223, 223, 223);
    cursor: pointer;
}

@mixin checkIcon() {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
}
