.mars-form,
input.mars-form {
    width: 100%;
    height: 2.5rem;
    color: #000000;  
    /* color: rgba(0, 0, 0, 0.80); */ /* IE 8 supported */
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    background: white;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;
    outline: 0;
    margin-bottom: 15px;

    &:active {
        outline: 0;
        border-color: #129FEA;  
    }

    &.is-not-rounded {
        border-radius: 0px;
    }

    &.is-little-rounded {
        border-radius: 0.5em;
        padding: 0.5em 1em;
    }

    &.is-rounded {
        border-radius: 2em;
        padding: 0.5em 1em;
    }

    &.is-color-blue:focus {
        outline: 0;
        border-color: rgb(0,110,207);
    }

    &.is-color-green:focus {
        outline: 0;
        border-color: rgb(80,200,120);
    }

    &.is-color-yellow:focus {
        outline: 0;
        border-color: rgb(248,235,0);
    }

    &.is-color-pink:focus {
        outline: 0;
        border-color: rgb(223,150,193);
    }

    &.is-color-purple:focus {
        outline: 0;
        border-color: rgb(162,88,232);
    }
} 

input.mars-form {
    &[type="color"] {
        padding: 0.2em 0.5em;
    }

    &:focus {
        outline: 0;
        border-color: #129FEA;
    }

    &:focus:invalid {
        color: #b94a48;
        border-color: #e9322d;
    }

    &:focus:invalid:focus {
        color: #b94a48;
        border-color: #e9322d;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color:rgb(234,237,237);
        color: rgb(202,210,211); 
    }
    
    &[readonly] {
        background-color: #eeeeee; /* menu hover bg color */
        color: #777777; /* menu text color */
        border-color: #cccccc;
    }
}

label.forms-label {
    margin: 0.5em 0.75em 0.5em;
}




