/* default */
.mars-form,
input.mars-form,
select.mars-form,
textarea.mars-form {
  width: 100%;
  height: 2.5rem;
  color: #000000;
  /* color: rgba(0, 0, 0, 0.80); */
  /* IE 8 supported */
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  background: white;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  outline: 0;
  margin-bottom: 15px;
  /* default active, focus */
  /* color focus */
  /* underline */
  /* rounded */
  /* size */
}

.mars-form:active, .mars-form:focus,
input.mars-form:active,
input.mars-form:focus,
select.mars-form:active,
select.mars-form:focus,
textarea.mars-form:active,
textarea.mars-form:focus {
  border-color: #129FEA;
}

.mars-form.is-color-blue:focus,
input.mars-form.is-color-blue:focus,
select.mars-form.is-color-blue:focus,
textarea.mars-form.is-color-blue:focus {
  border-color: #006ecf;
}

.mars-form.is-color-green:focus,
input.mars-form.is-color-green:focus,
select.mars-form.is-color-green:focus,
textarea.mars-form.is-color-green:focus {
  border-color: #50c878;
}

.mars-form.is-color-yellow:focus,
input.mars-form.is-color-yellow:focus,
select.mars-form.is-color-yellow:focus,
textarea.mars-form.is-color-yellow:focus {
  border-color: #f8eb00;
}

.mars-form.is-color-pink:focus,
input.mars-form.is-color-pink:focus,
select.mars-form.is-color-pink:focus,
textarea.mars-form.is-color-pink:focus {
  border-color: #df96c1;
}

.mars-form.is-color-purple:focus,
input.mars-form.is-color-purple:focus,
select.mars-form.is-color-purple:focus,
textarea.mars-form.is-color-purple:focus {
  border-color: #a258e8;
}

.mars-form.is-underline,
input.mars-form.is-underline,
select.mars-form.is-underline,
textarea.mars-form.is-underline {
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.mars-form.is-underline:focus,
input.mars-form.is-underline:focus,
select.mars-form.is-underline:focus,
textarea.mars-form.is-underline:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #129FEA;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-underline.is-color-blue:focus,
input.mars-form.is-underline.is-color-blue:focus,
select.mars-form.is-underline.is-color-blue:focus,
textarea.mars-form.is-underline.is-color-blue:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #006ecf;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-underline.is-color-green:focus,
input.mars-form.is-underline.is-color-green:focus,
select.mars-form.is-underline.is-color-green:focus,
textarea.mars-form.is-underline.is-color-green:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #50c878;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-underline.is-color-yellow:focus,
input.mars-form.is-underline.is-color-yellow:focus,
select.mars-form.is-underline.is-color-yellow:focus,
textarea.mars-form.is-underline.is-color-yellow:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #f8eb00;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-underline.is-color-pink:focus,
input.mars-form.is-underline.is-color-pink:focus,
select.mars-form.is-underline.is-color-pink:focus,
textarea.mars-form.is-underline.is-color-pink:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #df96c1;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-underline.is-color-purple:focus,
input.mars-form.is-underline.is-color-purple:focus,
select.mars-form.is-underline.is-color-purple:focus,
textarea.mars-form.is-underline.is-color-purple:focus {
  outline: 0;
  border: 2px solid transparent;
  border-radius: 3px;
  border-width: 2px 0px;
  border-bottom: 2px solid #a258e8;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.is-not-rounded,
input.mars-form.is-not-rounded,
select.mars-form.is-not-rounded,
textarea.mars-form.is-not-rounded {
  border-radius: 0px;
}

.mars-form.is-little-rounded,
input.mars-form.is-little-rounded,
select.mars-form.is-little-rounded,
textarea.mars-form.is-little-rounded {
  border-radius: 0.5em;
}

.mars-form.is-rounded,
input.mars-form.is-rounded,
select.mars-form.is-rounded,
textarea.mars-form.is-rounded {
  border-radius: 2em;
}

.mars-form.is-size-1,
input.mars-form.is-size-1,
select.mars-form.is-size-1,
textarea.mars-form.is-size-1 {
  width: 100%;
}

.mars-form.is-size-3-4,
input.mars-form.is-size-3-4,
select.mars-form.is-size-3-4,
textarea.mars-form.is-size-3-4 {
  width: 75%;
}

.mars-form.is-size-2-3,
input.mars-form.is-size-2-3,
select.mars-form.is-size-2-3,
textarea.mars-form.is-size-2-3 {
  width: 66%;
}

.mars-form.is-size-1-2,
input.mars-form.is-size-1-2,
select.mars-form.is-size-1-2,
textarea.mars-form.is-size-1-2 {
  width: 50%;
}

.mars-form.is-size-1-3,
input.mars-form.is-size-1-3,
select.mars-form.is-size-1-3,
textarea.mars-form.is-size-1-3 {
  width: 33%;
}

.mars-form.is-size-1-4,
input.mars-form.is-size-1-4,
select.mars-form.is-size-1-4,
textarea.mars-form.is-size-1-4 {
  width: 25%;
}

/* type */
input.mars-form[disabled],
textarea.mars-form[disabled],
select.mars-form[disabled] {
  cursor: not-allowed;
  background-color: #cad2d3;
  color: #cad2d3;
}

input.mars-form[readonly] {
  background-color: #eeeeee;
  /* menu hover bg color */
  color: #777777;
  /* menu text color */
  border-color: #cccccc;
}

input.mars-form[type="color"] {
  padding: 0.2em 0.5em;
}

input.mars-form:focus:invalid, input.mars-form:focus:invalid:focus {
  color: #b94a48;
  border-color: #e9322d;
}

/* textarea */
textarea.mars-form {
  height: calc(2.5rem * 5);
}

/* label */
label.forms-label {
  margin: 0.5em 0.75em 0.5em;
}
/*# sourceMappingURL=input.css.map */