@import './color';
@import './mixins';
@import './variable';



.mars-form {
    width: $input-width;
    height: $input-height;
    color: $input-color;  
    font-family: $input-font-family;
    font-style: $input-font-style;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    display: inline-block;
    padding: $input-padding-vertical $input-padding-horizontal;
    border: 1px solid $border;
    background: $white;
    vertical-align: middle;
    box-sizing: $input-border-box;
    box-shadow: rgba(0,0,0,0.1) $input-box-shadow-size;
    outline: $input-outline;
    margin-bottom: $input-margin-bottom;


    /* default active, focus */
    &:active, &.is-actived, 
    &:focus, &.is-focused {
        border-color: $default;      
    }

    /* default disabled & readonly type */
    &.is-disabled {
        @include disabled();
    }

    &.is-readonly {
        @include readonly();
    }

    /* color actived, focused */
    @each $name in $color-names {
        &.is-color-#{$name} {
           &:focus, &.is-focused,
            &:active, &.is-actived {
              border-color: map-get($colors, #{$name});   
           }
        }          
    }

    /* state color actived, focused */
    @each $name in $state-color-names {
        &.is-#{$name} {
           &:focus, &.is-focused,
            &:active, &.is-actived {
              border-color: map-get($state-colors, #{$name});   
           }
        }          
    }

    /* rounded */
    &.is-normal-rounded {
        border-radius: $input-radius;
    }

    &.is-little-rounded {
        border-radius: $input-radius-md;
    }

    &.is-rounded {
        border-radius: $input-radius-lg;
    }

    /* size */
    @each $value in $sizes {
        &.is-size-#{$value} {
            width: map-get($size, #{$value});
        }    
    }
} 

/* input underline */
.mars-form-underline {
    width: $input-width;
    height: $input-height;
    color: $input-color;  
    font-family: $input-font-family;
    font-style: $input-font-style;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    display: inline-block;
    padding: $input-padding-vertical $input-padding-horizontal;
    border: 1px solid $border;
    background: $white;
    vertical-align: middle;
    box-sizing: $input-border-box;
    box-shadow: rgba(0,0,0,0.1) $input-box-shadow-size;
    outline: $input-outline;
    margin-bottom: $input-margin-bottom;

    border: 2px solid $border;
    border-radius: $input-radius;
    border-width: $input-border-width 0px;
    background: $white;
    box-sizing: $input-border-box;
    box-shadow: $input-box-shadow-size rgba(0, 0, 0, 0.1);
    transition: $input-transition;

    /* size */
    @each $value in $sizes {
        &.is-size-#{$value} {
            width: map-get($size, #{$value});
        }    
    }

    /* underline default color focus,active */
    &:active, &.is-actived, 
    &:focus, &.is-focused {
        @include underline($default);
    } 

    /* underline color active, focus */
    @each $name in $color-names {
        &.is-color-#{$name} {
           &:focus, &.is-focused, 
           &:active, &.is-actived {
               @include underline(map-get($colors,#{$name}));   
           }
        }          
    }

    /* underline state color active, focus */
    @each $name in $state-color-names {
        &.is-#{$name} {
           &:focus, &.is-focused, 
           &:active, &.is-actived {
               @include underline(map-get($state-colors,#{$name}));   
           }
        }          
    }
}

/* input, textarea, select disabled & readonly type */
input.mars-form,
textarea.mars-form,
select.mars-form {
    &[disabled] {
        @include disabled();
    }

    &[readonly] {
        @include readonly();
    }
}

input.mars-form {
    &[type="color"] {
        padding: 0.2em 0.5em;
    }
}

/* textarea */
textarea.mars-form {
    height: calc(2.5rem * 5);  
}

/* label */
label.forms-label {
    margin: 0.5em 0.75em 0.5em;
}




