@import './color';
@import './mixins';


/* checkbox-radio */
.mars-form-radio {
    @include box();

    & > .is-checked {
        @include check(50%);
    }

    /* default color icon */
    & > .radio-check-icon {
        @include checkIcon();        
        /* radio-check-icon color */
        & > svg {
            fill: $default-color;
        }
    }

    & > input {
        border-width: 3px;
        border-style: solid;

        &[type="checkbox"] {
            margin: 3px 3px 3px 4px;
            padding: initial;       
        }

        /* disabled attribute */
        &:disabled {
            color: #949494;
            background-color:#eaeded;
            border-color: #bebebe;
            border-width: 3px;
            border-style: solid;
        }

        &:not(:disabled) {
            border-color: rgb(233, 233, 233);
        }

        /* default hover */
        &:not(:disabled):hover {
            border-color: $default-color;
        }
        
        /* default color checked event */
        &:not(:disabled):checked {
            border-color: $default-color; 
        }

        &:disabled 
          + .radio-check-icon svg {
              fill: rgb(204, 204, 204);
              cursor: not-allowed;
        }
    }

    @each $value in $color-value {
        &.is-color-#{$value} > input:not(:disabled):hover, 
        &.is-color-#{$value} > input:not(:disabled):checked {
            border-color: map-get($color,#{$value});
        }

        &.is-color-#{$value} > .radio-check-icon svg {               
             fill: map-get($color,#{$value});
        }
    }
}

svg:not(:root) {
    overflow: hidden;
}

/* label attribute */
.radio-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}
