@import './color';
@import './variable';
@import './mixins';


/* checkbox-radio */
.mars-form-radio {
    @include box();

    & > .is-checked {
        @include check(50%);
    }

    /* default color icon */
    & > .radio-check-icon {
        @include checkIcon();        
        /* radio-check-icon color */
        & > svg {
            fill: $default;
        }
    }

    & > input {
        border-width: $input-box-border-width;
        border-style: $input-box-border-style;

        &[type="checkbox"] {
            margin: $input-box-margin;
            padding: $input-box-padding;       
        }

        /* disabled attribute */
        &:disabled {
           @include box-disabled();
        }

        &:not(:disabled) {
            border-color: $input-box-border-color;
        }

        /* default hover */
        &:not(:disabled):hover {
            border-color: $default;
        }
        
        /* default color checked event */
        &:not(:disabled):checked {
            border-color: $default; 
        }

        &:disabled 
          + .radio-check-icon svg {
              fill: $input-box-disabled-fill;
              cursor: not-allowed;
        }
    }

    @each $value in $color-value {
        &.is-color-#{$value} > input:not(:disabled):hover, 
        &.is-color-#{$value} > input:not(:disabled):checked {
            border-color: map-get($color,#{$value});
        }

        &.is-color-#{$value} > .radio-check-icon svg {               
             fill: map-get($color,#{$value});
        }
    }
}

svg:not(:root) {
    overflow: hidden;
}

/* label attribute */
.radio-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}
