// color button
@mixin button-color(
    $_background-color,
    $outline: $button-outline,
    $border-color: $_background-color,
    $box-shadow: $button-box-shadow-size rgba($_background-color, 0.5)
) {
    outline: $outline;
    background-color: $_background-color;
    border-color: $border-color;
    box-shadow: $box-shadow;
}

@mixin button-loading() {
    /* loading button */
    @-webkit-keyframes spinAround {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }
        to {
           transform: rotate(359deg);
        }
    }
}

@mixin button-anim() {
    @-webkit-keyframes bgAnim {
        0% {
            background-position: 0% 50%;
        }
        
        50% {
            background-position: 100% 50%;
        }
    }

    @keyframes bgAnim {
        0% {
            background-position: 0% 50%;
        }
        
        50% {
            background-position: 100% 50%;
        }  
    }
}

@mixin icon-button() {
    display: inline-flex;
    height: 2.5em;
    justify-content: space-between;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.78em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

@mixin outlined-button(
    $_name,
    $outline: 2px solid map-get($colors,$_name),
    $color: map-get($colors,$_name),
    $border: $button-none-border,
    $box-shadow: $button-none-box-shadow
) {
    outline: $outline;
    color: $color;
    border: $border;
    box-shadow: $box-shadow;
}

@mixin modal-button(
    $_name,
    $outline: $button-outline,
    $opacity: 1, 
    $box-shadow: $button-none-box-shadow,
    $color: $white, 
    $border: 2px solid $_name 
) {
    opacity: $opacity; 
    border: $border !important;
    box-shadow: $box-shadow;
    outline: $outline;
}
