// input disabled 
@mixin input-disabled() {
    cursor: not-allowed !important;
    background-color: $disabled !important;
    color: $disabled !important;
    opacity: 1 !important;
}

// input readonly 
@mixin input-readonly() {
    background-color: $input-readonly-bgcolor !important;
    color: $input-readonly-color !important;
    border-color: $input-readonly-border !important;
    opacity: 1 !important;
}

// input-underline 
@mixin input-underline(
    $_color,
    $outline: $input-outline,
    $border: 2px solid $transparent,
    $border-radius: $input-radius,
    $border-width: $input-border-width 0px,
    $border-bottom: 2px solid $_color,
    $box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1)
) {
    outline: $outline;
    border: $transparent;
    border-radius: $border-radius;
    border-width: $border-width; 
    border-bottom: $border-bottom;
    box-shadow: $box-shadow;
}