/*  >= 1024px nav item hiddden */
.mars-navbar {
    background-color: white;
    min-height: 5rem;
    position: relative;
    z-index: 30000;
    border: 1px solid tomato;
}

.mars-navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}

.mars-navbar-item,
.mars-navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}

a.mars-navbar-item,
.mars-navbar-link {
    cursor: pointer;
}

a.mars-navbar-item:focus,
a.mars-navbar-item:focus-within,
a.mars-navbar-item:hover,
a.mars-navbar-item.is-active,
.mars-navbar-link:focus,
.mars-navbar-link:focus-within,
.mars-navbar-link:hover,
.mars-navbar-link.is-active {
    background-color: #fafafa;
    color: #3273dc;
}

.mars-navbar-brand a.mars-navbar-item:focus, 
.mars-navbar-brand a.mars-navbar-item:hover {
    background-color: transparent;
}

.mars-navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}

.mars-navbar-item img {
    max-height: 1.75rem;
}

.mars-navbar-menu {
    display: none;
}

.mars-navbar-dropdown {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.mars-navbar-dropdown .mars-navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mars-navbar-divider {
    background-color: whitesmoke;
    border: none;
    display: none;
    height: 2px;
    margin: 0.5rem 0;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons .mars-button {
    margin-bottom: 0.5rem;  
}

.buttons .mars-button:not(:last-child) {
   margin-right: 0.5rem; 
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
    margin-bottom: 1rem;
}

.mars-button.is-logined {
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    justify-content: center;
    white-space: nowrap;
    box-shadow: none;
}






























