/*  >= 1024px nav item hiddden */
.mars-navbar {
    background-color: white;
    min-height: 5rem;
    position: relative;
    z-index: 30000;
    border: 1px solid tomato;
}

.mars-navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}

.mars-navbar-item,
.mars-navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}

a.mars-navbar-item,
.mars-navbar-link {
    cursor: pointer;
}

a.mars-navbar-item:focus, a.mars-navbar-item:focus-within, a.mars-navbar-item:hover, a.mars-navbar-item.is-active,
.mars-navbar-link:focus,
.mars-navbar-link:focus-within,
.mars-navbar-link:hover,
.mars-navbar-link.is-active {
    background-color: #fafafa;
    color: #3273dc;
}

.mars-navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}

.mars-navbar-item img {
    max-height: 1.75rem;
}

.mars-navbar-item.has-dropdown {
    padding: 0;
}

.mars-navbar-link {
    padding-right: 2.5em;
}

.mars-navbar-link:after {
    border-color: #3273dc;
    margin-top: -0.375em;
    right: 1.125em;
}

.mars-navbar-link:after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
}

.mars-navbar-dropdown {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.mars-navbar-dropdown .mars-navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}



.mars-navbar-brand a.mars-navbar-item:focus, .mars-navbar-brand a.mars-navbar-item:hover {
    background-color: transparent;
}

/* color setting */
.mars-navbar.is-color-white {
    background-color: white;
    color: rgb(10, 10, 10);
}

.mars-navbar.is-color-white .mars-navbar-brand > .mars-navbar-item,
.mars-navbar.is-color-white .mars-navbar-brand .mars-navbar-link {
    color: rgb(10, 10, 10);
}

.mars-navbar.is-color-white .mars-navbar-brand > a.mars-navbar-item:focus, .mars-navbar.is-color-white .mars-navbar-brand > a.mars-navbar-item:hover, .mars-navbar.is-color-white .mars-navbar-brand > a.navbar-item.is-active,
.mars-navbar.is-color-white .mars-navbar-brand .mars-navbar-link:focus,
.mars-navbar.is-color-white .mars-navbar-brand .mars-navbar-link:hover,
.mars-navbar.is-color-white .mars-navbar-brand .mars-navbar-link.is-active {
    background-color: #f2f2f2;
    color: rgb(10, 10, 10);    
}

.mars-navbar.is-color-white .mars-navbar-brand .mars-navbar-link:after {
    border-color: rgb(10, 10, 10);
}

.mars-navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}

.mars-navbar-item img {
    max-height: 1.75rem;
}

.mars-navbar-menu {
    display: none;
}

.mars-navbar-dropdown {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.mars-navbar-dropdown .mars-navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mars-navbar-divider {
    background-color: whitesmoke;
    border: none;
    display: none;
    height: 2px;
    margin: 0.5rem 0;
}

/* button setting */
.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buttons .mars-button {
    margin-bottom: 0.5rem;  
}

.buttons .mars-button:not(:last-child) {
   margin-right: 0.5rem; 
}

.buttons:last-child {
    margin-bottom: -0.5rem;
}

.buttons:not(:last-child) {
    margin-bottom: 1rem;
}

.mars-button.is-logined {
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    justify-content: center;
    white-space: nowrap;
    box-shadow: none;
}

/* button add */
.mars-button.is-color-smoke {
    outline: 0;
    background-color: whitesmoke;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
}

.mars-button.is-hovered.is-color-smoke,
.mars-button.is-color-smoke:hover {
     background-color: #eeeeee;
     border-color: transparent;
     color: rgba(0, 0, 0, 0.7);  
}





























