/* media query color setting */
/* >= 1024px mars-dropdown hidden */
@media screen and (min-width: 1024px) {
   .mars-navbar.is-color-white .mars-navbar-start > .mars-navbar-item,
   .mars-navbar.is-color-white .mars-navbar-start .mars-navbar-link,
   .mars-navbar.is-color-white .mars-navbar-end > .mars-navbar-item,
   .mars-navbar.is-color-white .mars-navbar-end .mars-navbar-link {
        color: rgb(10, 10, 10);  
   }  

   .mars-navbar.is-color-white .mars-navbar-start > a.mars-navbar-item:focus, .mars-navbar.is-color-white .mars-navbar-start > a.mars-navbar-item:hover, .mars-navbar.is-color-white .mars-navbar-start > a.mars-navbar-item.is-active,
   .mars-navbar.is-color-white .mars-navbar-start .mars-navbar-link:focus,
   .mars-navbar.is-color-white .mars-navbar-start .mars-navbar-link:hover,
   .mars-navbar.is-color-white .mars-navbar-start .mars-navbar-link.is-active,
   .mars-navbar.is-color-white .mars-navbar-end > a.mars-navbar-item:focus,
   .mars-navbar.is-color-white .mars-navbar-end > a.mars-navbar-item:hover,
   .mars-navbar.is-color-white .mars-navbar-end > a.mars-navbar-item.is-active,
   .mars-navbar.is-color-white .mars-navbar-end .mars-navbar-link:focus,
   .mars-navbar.is-color-white .mars-navbar-end .mars-navbar-link:hover,
   .mars-navbar.is-color-white .mars-navbar-end .mars-navbar-link.is-active {
       background-color: #f2f2f2;
       color: rgb(10, 10, 10);
   }

   .mars-navbar.is-color-white .mars-navbar-start .mars-navbar-link:after, 
   .mars-navbar.is-color-white .mars-navbar-end .mars-navbar-link:after {
       border-color: rgb(10, 10, 10);
   }

   .mars-navbar.is-color-white .mars-navbar-item.has-dropdown:focus .mars-navbar-link,
   .mars-navbar.is-color-white .mars-navbar-item.has-dropdown:hover .mars-navbar-link,
   .mars-navbar.is-color-white .mars-navbar-item.has-dropdown.is-active .mars-navbar-link {
       background-color: #f2f2f2;
       color: rgb(10, 10, 10);
   }

   .mars-navbar.is-color-white .mars-navbar-dropdown a.mars-navbar-item.is-active {
       background-color: white;
       color: rgb(10, 10, 10);
   }
}

@media screen and (max-width: 1023px) {
    .mars-navbar-brand .mars-navbar-item {
        align-items: center;
        display: flex;
    }
    
    .mars-navbar-link:after {
        display: none;
    }

    .mars-navbar-menu {
        background-color: white;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }

    .mars-navbar-menu.is-active {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .mars-navbar,
    .mars-navbar-menu,
    .mars-navbar-start,
    .mars-navbar-end {
        align-items: stretch;
        display: flex;
    }

    .mars-navbar {
        min-height: 3.25rem;
    }

    .mars-navbar-item,
    .mars-navbar-link {
        align-items: center;
        display: flex;
    }

    .mars-navbar-item {
        display: flex;
    }

    .mars-navbar-item.has-dropdown {
        align-items: stretch;
    }

    .mars-navbar-item.is-active .mars-navbar-dropdown,
    .mars-navbar-item.is-hoverable:focus .navbar-dropdown,
    .mars-navbar-item.is-hoverable:focus-within .mars-navbar-dropdown,
    .mars-navbar-item.is-hoverable:hover .mars-navbar-dropdown {
        display: block;
    }

    .mars-navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .mars-navbar-start {
        justify-content: flex-start;
    }

    .mars-navbar-end {
        justify-content: flex-end;
        margin-left: auto;
    }

    .mars-navbar-dropdown {
        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2xp solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        display: none;
        font-size: 0.875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20000;
    }

    .mars-navbar-dropdown .mars-navbar-item {
        padding: 0.375rem 1rem;
        white-space: nowrap;
    }

    .mars-navbar-dropdown a.navbar-item {
        padding-right: 3rem;
    }

    .mars-navbar-dropdown a.mars-navbar-item:focus,
    .mars-navbar-dropdown a.mars-navbar-item:hover {
        background-color: whitesmoke;
        color: rgb(10, 10, 10);
    }

    .mars-navbar-dropdown a.mars-navbar-item.is-active {
        background-color: whitesmoke;
        color: #3273dc;
    }
    
    .mars-navbar-divider {
        display: block;
    }

    a.mars-navbar-item.is-active:not(:focus):not(:hover),
    .mars-navbar-link.is-active:not(:focus):not(:hover) {
        background-color: transparent;
    }

    .mars-navbar-item.has-dropdown:focus .mars-navbar-link,
    .mars-navbar-item.has-dropdown:hover .mars-navbar-link,
    .mars-navbar-item.has-dropdown.is-active .mars-navbar-link {
        background-color: #fafafa;
    }
}
