.mars-progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
  width: 50vw;
}

/* progress bar size */
.mars-progress.is-small {
    height: 0.75rem;
}

.mars-progress.is-medium {
    height: 1.25rem;
}

.mars-progress.is-large {
    height: 1.5rem;
}


/* default bar */
.mars-progress::-webkit-progress-bar {
    background-color: #ededed;
}
  
.mars-progress::-webkit-progress-value {
    background-color: #4a4a4a;
}
  
.mars-progress::-moz-progress-bar {
    background-color: #4a4a4a;
}
  
.mars-progress::-ms-fill {
    background-color: #4a4a4a;
    border: none;
}

/* primary bar */  
.mars-progress.is-primary::-webkit-progress-value {
    background-color: #00B0FF;
}
  
.mars-progress.is-primary::-moz-progress-bar {
    background-color: #00B0FF;
}
  
.mars-progress.is-primary::-ms-fill {
    background-color: #00B0FF;
    border: none;
}

.mars-progress.is-primary:indeterminate {
    background-image: linear-gradient(to right, #00B0FF 30%, #00B0FF 30%);
}
 
/* success bar */
.mars-progress.is-success::-webkit-progress-value {
    background-color: #00B248;
}
  
.mars-progress.is-success::-moz-progress-bar {
    background-color: #00B248;
}
  
.mars-progress.is-success::-ms-fill {
    background-color: #00B248;
}

.mars-progress.is-success:indeterminate {
    background-image: linear-gradient(to right, #00B248 30%, #00B248 30%);
}

/* warning bar */
.mars-progress.is-warning::-webkit-progress-value {
    background-color: #FF9D3F;
}
  
.mars-progress.is-warning::-moz-progress-bar {
    background-color: #FF9D3F;
}
  
.mars-progress.is-warning::-ms-fill {
    background-color: #FF9D3F;
}

.mars-progress.is-warning:indeterminate {
    background-image: linear-gradient(to right,  #FF9D3F 30%,  #FF9D3F 30%);
}

/* error bar */  
.mars-progress.is-error::-webkit-progress-value {
    background-color: #FF5722;
}
  
.mars-progress.is-error::-moz-progress-bar {
    background-color: #FF5722;
}
  
.mars-progress.is-error::-ms-fill {
    background-color: #FF5722;
}

.mars-progress.is-error:indeterminate {
    background-image: linear-gradient(to right,  #FF5722 30%,  #FF5722 30%);
}


@-webkit-keyframes moveIndeterminate {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
}
  
@keyframes moveIndeterminate {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
}

.mars-progress:indeterminate {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: moveIndeterminate;
            animation-name: moveIndeterminate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    background-color: #ededed;
    background-image: linear-gradient(to right, #4a4a4a 30%, #ededed 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
}

.mars-progress:indeterminate::-webkit-progress-bar {
    background-color: transparent;
}
  
.mars-progress:indeterminate::-moz-progress-bar {
    background-color: transparent;
}



