.progress-wrap {
    padding: 130px;
    color: rgb(0,0,0);
    font-size: 14px;  
}

.progress-contents > * {
    margin-bottom: 40px;
}

.progress-area {
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    justify-content: flex-start;
}

h1.buttons-title {
    margin-bottom: 30px;
    font-size: 32px;
}