@import './color';
@import './mixin';

* {
    box-sizing: border-box;
}

.mars-button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;/* IE6/7/8/9 + everything */
    border-width: 2px;
    border-image: initial;
    padding: 0.85em 1em;
    background-color: $default-color;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 10px 25px rgba($default-color, 0.5); 
    

    @each $value in $color-value {
        &.is-color-#{$value} {
            @include button-color(map-get($color,#{$value})); 
        }
    }  


}