/* common color */
/* button gradient color */
/* state color */
/* button hovered color */
/* button disabled color */
/* modal button color */
/* color maps */
/* button gradient color maps */
/* state color maps */
/* button variable */
/* button actived */
/* button hovered */
/* button disabled variable */
/* button size variable */
/* button radius size */
/* size maps */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* default style */
.mars-button,
.mars-button-icon {
  width: 10rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid transparent;
  border-width: 2px;
  -o-border-image: initial;
     border-image: initial;
  padding: 0.85em 1em;
  background-color: #129fea;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #ffffff;
  outline: 0;
  text-align: center;
  -webkit-box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.5);
          box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.5);
  /* button, icon button color */
  /* default hovered */
  /* default hovered box-shadow */
  /* color hovered */
  /* focused */
  /* actived, pressed */
  /* disabled */
  /* gradient button */
  /* anim button */
  /* button size */
  /* state color button */
  /* normal rounded */
  /* little rounded */
  /* rounded button */
  /* button outlined */
  /* modals button */
}

.mars-button.is-color-blue,
.mars-button-icon.is-color-blue {
  outline: 0;
  background-color: #006ecf;
  border-color: #006ecf;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.5);
          box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.5);
}

.mars-button.is-color-green,
.mars-button-icon.is-color-green {
  outline: 0;
  background-color: #50c878;
  border-color: #50c878;
  -webkit-box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.5);
          box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.5);
}

.mars-button.is-color-yellow,
.mars-button-icon.is-color-yellow {
  outline: 0;
  background-color: #f8eb00;
  border-color: #f8eb00;
  -webkit-box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.5);
          box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.5);
}

.mars-button.is-color-pink,
.mars-button-icon.is-color-pink {
  outline: 0;
  background-color: #df96c1;
  border-color: #df96c1;
  -webkit-box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.5);
          box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.5);
}

.mars-button.is-color-purple,
.mars-button-icon.is-color-purple {
  outline: 0;
  background-color: #a258e8;
  border-color: #a258e8;
  -webkit-box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.5);
          box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.5);
}

.mars-button.is-hovered, .mars-button:not(.is-outlined):hover,
.mars-button-icon.is-hovered,
.mars-button-icon:not(.is-outlined):hover {
  opacity: 0.75;
  cursor: pointer;
  border-color: transparent;
}

.mars-button.is-hovered, .mars-button:hover,
.mars-button-icon.is-hovered,
.mars-button-icon:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.85);
          box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.85);
}

.mars-button.is-hovered.is-color-blue, .mars-button.is-color-blue:hover,
.mars-button-icon.is-hovered.is-color-blue,
.mars-button-icon.is-color-blue:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.85);
          box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.85);
}

.mars-button.is-hovered.is-color-green, .mars-button.is-color-green:hover,
.mars-button-icon.is-hovered.is-color-green,
.mars-button-icon.is-color-green:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.85);
          box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.85);
}

.mars-button.is-hovered.is-color-yellow, .mars-button.is-color-yellow:hover,
.mars-button-icon.is-hovered.is-color-yellow,
.mars-button-icon.is-color-yellow:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.85);
          box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.85);
}

.mars-button.is-hovered.is-color-pink, .mars-button.is-color-pink:hover,
.mars-button-icon.is-hovered.is-color-pink,
.mars-button-icon.is-color-pink:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.85);
          box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.85);
}

.mars-button.is-hovered.is-color-purple, .mars-button.is-color-purple:hover,
.mars-button-icon.is-hovered.is-color-purple,
.mars-button-icon.is-color-purple:hover {
  -webkit-box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.85);
          box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.85);
}

.mars-button:focus, .mars-button.is-focused,
.mars-button-icon:focus,
.mars-button-icon.is-focused {
  outline: 0;
  border: 2px solid rgba(18, 159, 234, 0.5);
}

.mars-button:active, .mars-button.is-actived, .mars-button.is-pressed,
.mars-button-icon:active,
.mars-button-icon.is-actived,
.mars-button-icon.is-pressed {
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12) inset;
}

.mars-button[disabled], .mars-button.is-disabled,
.mars-button-icon[disabled],
.mars-button-icon.is-disabled {
  border: none;
  background-image: none;
  opacity: 1;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #eaeded;
  color: #cad2d3;
  pointer-events: none;
}

.mars-button.is-gradient,
.mars-button-icon.is-gradient {
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#1233ea), to(#129fea));
  background-image: linear-gradient(90deg, #1233ea, #129fea);
  -webkit-box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.65);
          box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.65);
}

.mars-button.is-gradient.is-color-blue,
.mars-button-icon.is-gradient.is-color-blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#002a50), to(#006ecf));
  background-image: linear-gradient(90deg, #002a50, #006ecf);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.65);
          box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.65);
}

.mars-button.is-gradient.is-color-green,
.mars-button-icon.is-gradient.is-color-green {
  background-image: -webkit-gradient(linear, left top, right top, from(#319b54), to(#50c878));
  background-image: linear-gradient(90deg, #319b54, #50c878);
  -webkit-box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.65);
          box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.65);
}

.mars-button.is-gradient.is-color-yellow,
.mars-button-icon.is-gradient.is-color-yellow {
  background-image: -webkit-gradient(linear, left top, right top, from(#aca300), to(#f8eb00));
  background-image: linear-gradient(90deg, #aca300, #f8eb00);
  -webkit-box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.65);
          box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.65);
}

.mars-button.is-gradient.is-color-pink,
.mars-button-icon.is-gradient.is-color-pink {
  background-image: -webkit-gradient(linear, left top, right top, from(#c74792), to(#df96c1));
  background-image: linear-gradient(90deg, #c74792, #df96c1);
  -webkit-box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.65);
          box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.65);
}

.mars-button.is-gradient.is-color-purple,
.mars-button-icon.is-gradient.is-color-purple {
  background-image: -webkit-gradient(linear, left top, right top, from(#6217a9), to(#a258e8));
  background-image: linear-gradient(90deg, #6217a9, #a258e8);
  -webkit-box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.65);
          box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.65);
}

.mars-button.is-anim,
.mars-button-icon.is-anim {
  -webkit-animation: bgAnim 3s linear infinite;
          animation: bgAnim 3s linear infinite;
  background-size: 400% 400%;
}

@-webkit-keyframes bgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes bgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.mars-button.is-small,
.mars-button-icon.is-small {
  font-size: 0.75rem;
}

.mars-button.is-medium,
.mars-button-icon.is-medium {
  font-size: 1.25rem;
}

.mars-button.is-normal,
.mars-button-icon.is-normal {
  font-size: 1rem;
}

.mars-button.is-large,
.mars-button-icon.is-large {
  font-size: 1.5rem;
}

.mars-button.is-primary,
.mars-button-icon.is-primary {
  outline: 0;
  background-color: #00B0FF;
  border-color: #00B0FF;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 176, 255, 0.5);
          box-shadow: 0px 10px 25px rgba(0, 176, 255, 0.5);
}

.mars-button.is-success,
.mars-button-icon.is-success {
  outline: 0;
  background-color: #00B248;
  border-color: #00B248;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 178, 72, 0.5);
          box-shadow: 0px 10px 25px rgba(0, 178, 72, 0.5);
}

.mars-button.is-warning,
.mars-button-icon.is-warning {
  outline: 0;
  background-color: #FF9D3F;
  border-color: #FF9D3F;
  -webkit-box-shadow: 0px 10px 25px rgba(255, 157, 63, 0.5);
          box-shadow: 0px 10px 25px rgba(255, 157, 63, 0.5);
}

.mars-button.is-error,
.mars-button-icon.is-error {
  outline: 0;
  background-color: #FF5722;
  border-color: #FF5722;
  -webkit-box-shadow: 0px 10px 25px rgba(255, 87, 34, 0.5);
          box-shadow: 0px 10px 25px rgba(255, 87, 34, 0.5);
}

.mars-button.is-normal-rounded,
.mars-button-icon.is-normal-rounded {
  border-radius: 4px;
}

.mars-button.is-little-rounded,
.mars-button-icon.is-little-rounded {
  border-radius: 1em;
}

.mars-button.is-rounded,
.mars-button-icon.is-rounded {
  border-radius: 2em;
}

.mars-button.is-outlined,
.mars-button-icon.is-outlined {
  opacity: 1;
  outline: 2px solid #129fea;
  border-width: 2px;
  background-color: transparent;
  color: #129fea;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* button outlined color */
  /* button outlined state color */
}

.mars-button.is-outlined.is-outlined.is-color-blue,
.mars-button-icon.is-outlined.is-outlined.is-color-blue {
  outline: 2px solid #006ecf;
  color: #006ecf;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-color-green,
.mars-button-icon.is-outlined.is-outlined.is-color-green {
  outline: 2px solid #50c878;
  color: #50c878;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-color-yellow,
.mars-button-icon.is-outlined.is-outlined.is-color-yellow {
  outline: 2px solid #f8eb00;
  color: #f8eb00;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-color-pink,
.mars-button-icon.is-outlined.is-outlined.is-color-pink {
  outline: 2px solid #df96c1;
  color: #df96c1;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-color-purple,
.mars-button-icon.is-outlined.is-outlined.is-color-purple {
  outline: 2px solid #a258e8;
  color: #a258e8;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-primary,
.mars-button-icon.is-outlined.is-outlined.is-primary {
  outline: 2px solid;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-success,
.mars-button-icon.is-outlined.is-outlined.is-success {
  outline: 2px solid;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-warning,
.mars-button-icon.is-outlined.is-outlined.is-warning {
  outline: 2px solid;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-outlined.is-outlined.is-error,
.mars-button-icon.is-outlined.is-outlined.is-error {
  outline: 2px solid;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-cancel,
.mars-button-icon.is-cancel {
  background-color: #ffffff;
  border: 2px solid #D3D3D3;
  border-radius: 2px;
  width: 6.5rem;
  height: 3.5rem;
  color: rgba(139, 139, 139, 0.83);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-cancel:hover, .mars-button.is-cancel.is-hovered, .mars-button.is-cancel:focus, .mars-button.is-cancel.is-focused, .mars-button.is-cancel:active, .mars-button.is-cancel.is-actived, .mars-button.is-cancel.is-pressed,
.mars-button-icon.is-cancel:hover,
.mars-button-icon.is-cancel.is-hovered,
.mars-button-icon.is-cancel:focus,
.mars-button-icon.is-cancel.is-focused,
.mars-button-icon.is-cancel:active,
.mars-button-icon.is-cancel.is-actived,
.mars-button-icon.is-cancel.is-pressed {
  opacity: 1;
  border: 2px solid #D3D3D3;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.mars-button.is-submit,
.mars-button-icon.is-submit {
  background-color: #005CFF;
  border: 2px solid transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mars-button.is-submit:hover, .mars-button.is-submit.is-hovered, .mars-button.is-submit:focus, .mars-button.is-submit.is-focused, .mars-button.is-submit:active, .mars-button.is-submit.is-actived, .mars-button.is-submit.is-pressed,
.mars-button-icon.is-submit:hover,
.mars-button-icon.is-submit.is-hovered,
.mars-button-icon.is-submit:focus,
.mars-button-icon.is-submit.is-focused,
.mars-button-icon.is-submit:active,
.mars-button-icon.is-submit.is-actived,
.mars-button-icon.is-submit.is-pressed {
  opacity: 1;
  border: 2px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.mars-button-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.78em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  /* icon button icon size */
}

.mars-button-icon.icon, .mars-button-icon.icon.is-small, .mars-button-icon.icon.is-normal, .mars-button-icon.icon.is-medium, .mars-button-icon.icon.is-large {
  width: 1.5em;
  height: 1.5em;
}

/* button loading */
.mars-button.is-loading {
  /* loading button */
  cursor: default;
  color: transparent !important;
  padding-bottom: calc(1em - 1px);
  padding-left: 0.85em;
  padding-right: 0.85em;
  padding-top: calc(1em - 1px);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  height: 2.5em;
  font-size: 1rem;
  line-height: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* after */
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.mars-button.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 20000px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  left: calc(50% - (1em / 2));
  top: calc(45% - (1em / 2));
  position: absolute !important;
}
/*# sourceMappingURL=buttons.css.map */