.modals-wrap {
    padding: 130px;
    color: rgb(0,0,0);
    font-size: 14px;  
}

.modals-contents > * {
    margin-bottom: 30px;
}

.modals-area {
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modals-area button,a {
    text-align: center;
}

h1.modals-title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
}

.modal-button-area {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.mars-modal a {
    cursor: pointer;
}

.modal-title-area {
    margin-bottom: 40px;
}