* {
    box-sizing: border-box;
}

.mars-button {
    width: 10rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-width: 2px;
    border-image: initial;
    padding: 0.85em 1em;
    background-color: #129fea;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    color: #ffffff;
    text-align: center;
    outline: 0;
    box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.5);   
}

/* button color */
.mars-button.is-color-blue,
.mars-button-icon.is-color-blue {
    outline: 0;
    background-color: rgb(0, 110, 207);
    border-color: rgb(0, 110, 207);
    box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-green,
.mars-button-icon.is-color-green {
    outline: 0;
    background-color: rgb(80, 200, 120);
    border-color: rgb(80, 200, 120);
    box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-yellow,
.mars-button-icon.is-color-yellow {
    outline: 0;
    background-color: rgb(248, 235, 0);
    border-color: rgb(248, 235, 0);
    box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-pink,
.mars-button-icon.is-color-pink {
    outline: 0;
    background-color: rgb(223,150,193);
    border-color: rgb(223,150,193);
    box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-purple,
.mars-button-icon.is-color-purple {
    outline: 0;
    background-color: rgb(162,88,232);
    border-color: rgb(162,88,232);
    box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-hovered, .mars-button:not(.is-outlined):hover,
.mars-button-icon.is-hovered, .mars-button-icon:not(.is-outlined):hover {
    opacity: 0.75;  
    cursor: pointer;
    border-color: transparent;
}

.mars-button.is-hovered, .mars-button:hover,
.mars-button-icon.is-hovered, .mars-button-icon:hover {
    box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.85);    
}

.mars-button.is-hovered.is-color-blue, .mars-button.is-color-blue:hover,
.mars-button-icon.is-hovered.is-color-blue, .mars-button-icon.is-color-blue:hover {
    box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.85);
}

.mars-button.is-hovered.is-color-green, .mars-button.is-color-green:hover,
.mars-button-icon.is-hovered.is-color-green, .mars-button-icon.is-color-green:hover {
    box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.85);
}

.mars-button.is-hovered.is-color-yellow, .mars-button.is-color-yellow:hover,
.mars-button-icon.is-hovered.is-color-yellow, .mars-button-icon.is-color-yellow:hover {
    box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.85);
}

.mars-button.is-hovered.is-color-pink, .mars-button.is-color-pink:hover,
.mars-button-icon.is-hovered.is-color-pink, .mars-button-icon.is-color-pink:hover {
    box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.85);
}

.mars-button.is-hovered.is-color-purple, .mars-button.is-color-purple:hover,
.mars-button-icon.is-hovered.is-color-purple, .mars-button-icon.is-color-purple:hover {
    box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.85);
}

.mars-button:focus, .mars-button.is-focused,
.mars-button-icon:focus, .mars-button-icon.is-focused {
    outline: 0;
    border: 2px solid rgba(18, 159, 234, 0.5);
}

.mars-button:active, .mars-button.is-actived, .mars-button.is-pressed,
.mars-button-icon:active, .mars-button-icon.is-actived, .mars-button-icon.is-pressed {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.12) inset;  
} 

.mars-button[disabled], .mars-button.is-disabled,
.mars-button-icon[disabled], .mars-button-icon.is-disabled {
    border: none;
    background-image: none;
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
    background-color:rgb(234,237,237);
    color: rgb(202,210,211);
    pointer-events: none;
}

/* loading button */
@-webkit-keyframes spinAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes spinAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


.mars-button.is-loading {
    cursor: default;
    color: transparent !important;
    padding-bottom: calc(1em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(1em - 1px);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    height: 2.5em;
    font-size: 1rem;
    line-height: 2.5em;
    align-items: center;
    position: relative;
}  

.mars-button.is-loading:after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;  
    border: 2px solid #dbdbdb;
    border-radius: 20000px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
}

.mars-button.is-loading:after {
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(45% - (1em / 2));
    position: absolute !important;
}

.mars-button.is-gradient,
.mars-button-icon.is-gradient {
    border: none;
    background-image: linear-gradient(90deg,#1233ea,#129fea);   
    box-shadow:  0px 10px 25px  rgba(18, 159, 234, 0.65);  
}

.mars-button.is-gradient.is-color-blue,
.mars-button-icon.is-gradient.is-color-blue {
    background-image: linear-gradient(90deg,#002a50,#006ecf);
    box-shadow:  0px 10px 25px  rgba(0, 110, 207, 0.65);   
}

.mars-button.is-gradient.is-color-green,
.mars-button-icon.is-gradient.is-color-green {
    background-image: linear-gradient(90deg,#319b54,#50c878);
    box-shadow:  0px 10px 25px  rgba(80, 200, 120, 0.65);   
}

.mars-button.is-gradient.is-color-yellow,
.mars-button-icon.is-gradient.is-color-yellow {
    background-image: linear-gradient(90deg,#aca300,#f8eb00);
    box-shadow:  0px 10px 25px  rgba(248, 235, 0, 0.65);   
}

.mars-button.is-gradient.is-color-pink,
.mars-button-icon.is-gradient.is-color-pink {
    background-image: linear-gradient(90deg,#c74792,#df96c1);
    box-shadow:  0px 10px 25px  rgba(223, 150, 193, 0.65);   
}

.mars-button.is-gradient.is-color-purple,
.mars-button-icon.is-gradient.is-color-purple {
    background-image: linear-gradient(90deg,#6217a9,#a258e8);
    box-shadow:  0px 10px 25px  rgba(162, 88, 232, 0.65);   
}


@-webkit-keyframes bgAnim {
    0% {
      background-position: 0% 50%;
    }
    
    50% {
      background-position: 100% 50%;
    }
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }
      
    50% {
        background-position: 100% 50%;
    }  
}

.mars-button.is-anim,
.mars-button-icon.is-anim {
   animation: bgAnim 3s linear infinite;
   background-size: 400% 400% !important;
}

.mars-button.is-small,
.mars-button-icon.is-small {
    font-size: 0.75rem;
}

.mars-button.is-medium,
.mars-button-icon.is-medium {
    font-size: 1.25rem;
}

.mars-button.is-normal,
.mars-button-icon.is-normal {
    font-size: 1rem;
}

.mars-button.is-large,
.mars-button-icon.is-large {
    font-size: 1.5rem;
}

/* state color */
.mars-button.is-primary,
.mars-button-icon.is-primary {
   background-color: #00B0FF;
   border-color: #00B0FF;
   box-shadow:  0px 10px 25px  rgba(0, 176, 255, 0.5);   
}

.mars-button.is-success,
.mars-button-icon.is-success {
   background-color: #00B248;
   border-color: #00B248;
   box-shadow:  0px 10px 25px  rgba(0, 178, 72, 0.5);   
}

.mars-button.is-warning,
.mars-button-icon.is-warning {
    background-color: #FF9D3F;
    border-color: #FF9D3F;
    box-shadow:  0px 10px 25px  rgba(255, 157, 63, 0.5);
}

.mars-button.is-error,
.mars-button-icon.is-error {
    background-color: #FF5722;
    border-color: #FF5722;
    box-shadow:  0px 10px 25px  rgba(255, 87, 34, 0.5);
}
 
.mars-button-icon {
    width: 10rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-width: 2px;
    border-image: initial;
    padding: 0.85em 1em;
    background-color: #129fea;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    color: #ffffff;
    text-align: center;
    outline: 0;
    box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.5);   
    display: inline-flex;
    height: 2.5em;
    justify-content: space-between;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.78em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

/* icon button */
.mars-button-icon .icon,
.mars-button-icon .icon.is-small,
.mars-button-icon .icon.is-normal,
.mars-button-icon .icon.is-medium,
.mars-button-icon .icon.is-large {
    width: 1.5em;
    height: 1.5em;
}


/* normal rounded */
.mars-button.is-normal-rounded,
.mars-button-icon.is-normal-rounded {
    border-radius: 4px;
}

/* little rounded */
.mars-button.is-little-rounded,
.mars-button-icon.is-little-rounded {
    border-radius: 0.5em;
}

/* rounded button */
.mars-button.is-rounded,
.mars-button-icon.is-rounded {
    border-radius: 2em;
}

/* outline button */
.mars-button.is-outlined,
.mars-button-icon.is-outlined {
    opacity: 1;
    outline: 2px solid #129FEA;
    border-width: 2px;
    background-color: transparent;  
    color: #129FEA;
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
    border: none !important;
    box-shadow: none;
}

.mars-button.is-outlined.is-color-blue,
.mars-button-icon.is-outlined.is-color-blue {
    outline: 2px solid rgb(0, 110, 207);
    color: #006ecf;
}

.mars-button.is-outlined.is-color-green,
.mars-button-icon.is-outlined.is-color-green {
    outline: 2px solid rgb(80, 200, 120);
    color: #50c878;
}

.mars-button.is-outlined.is-color-yellow,
.mars-button-icon.is-outlined.is-color-yellow {
    outline: 2px solid rgb(248, 235, 0);
    color: #f8eb00;
}

.mars-button.is-outlined.is-color-pink,
.mars-button-icon.is-outlined.is-color-pink {
    outline: 2px solid rgb(223, 150, 193);
    color: #df96c1;
}

.mars-button.is-outlined.is-color-purple,
.mars-button-icon.is-outlined.is-color-purple {
    outline: 2px solid rgb(162, 88, 232);
    color: #a258e8;
}

/* outlined button state color */
.mars-button.is-outlined.is-primary,
.mars-button-icon.is-outlined.is-primary {
    outline: 2px solid rgb(0, 176, 255);
    color: #00B0FF;
}

.mars-button.is-outlined.is-success,
.mars-button-icon.is-outlined.is-success {
    outline: 2px solid rgba(0, 178, 72);
    color: #00B248;
}

.mars-button.is-outlined.is-warning,
.mars-button-icon.is-outlined.is-warning {
    outline: 2px solid  rgb(255, 157, 63);
    color: #FF9D3F;
}

.mars-button.is-outlined.is-error,
.mars-button-icon.is-outlined.is-error {
    outline: 2px solid rgb(255, 87, 34);
    color: #FF5722;
}

.mars-button.is-outlined.is-color-blue, .mars-button.is-outlined.is-color-green, .mars-button.is-outlined.is-color-yellow, .mars-button.is-outlined.is-color-pink, .mars-button.is-outlined.is-color-purple,
.mars-button-icon.is-outlined.is-color-blue, .mars-button-icon.is-outlined.is-color-green, .mars-button-icon.is-outlined.is-color-yellow, .mars-button-icon.is-outlined.is-color-pink, .mars-button-icon.is-outlined.is-color-purple,
.mars-button.is-outlined.is-primary, .mars-button.is-outlined.is-success, .mars-button.is-outlined.is-warning, .mars-button.is-outlined.is-error,
.mars-button-icon.is-outlined.is-primary, .mars-button-icon.is-outlined.is-success, .mars-button-icon.is-outlined.is-warning, .mars-button-icon.is-outlined.is-error {    
    border: none !important;
    box-shadow: none; 
}


/* modals button */
.mars-button.is-cancel {
    background-color: #ffffff;
    border: 2px solid #D3D3D3;
    border-radius: 2px;
    width: 6.5rem;
    height: 3.5rem;
    color:rgba(139,139,139,0.83);
    box-shadow: none;
}

/* cancel hovered, actived */
.mars-button.is-cancel:hover, .mars-button.is-cancel.is-hovered,
.mars-button.is-cancel:focus, .mars-button.is-cancel.is-focused, 
.mars-button.is-cancel:active, .mars-button.is-cancel.is-actived,
.mars-button.is-cancel.is-pressed {
    opacity: 1; 
    border: 2px solid #D3D3D3;
    box-shadow: none;
    outline: 0;
}

.mars-button.is-submit {
    background-color: #005CFF;
    border: 2px solid transparent;
    color: #ffffff;
    box-shadow: none;
}

/* submit hovered, actived */
.mars-button.is-submit:focus, .mars-button.is-submit.is-focused,
.mars-button.is-submit:hover, .mars-button.is-submit.is-hovered,  
.mars-button.is-submit:active, .mars-button.is-submit.is-actived,
.mars-button.is-submit.is-pressed {
    outline: 0;
    opacity: 1; 
    box-shadow: none;
    color: #ffffff;
    border: 2px solid transparent;
}
 
