* {
  box-sizing: border-box;
}

/* default input */
.mars-form input[type="text"],
.mars-form input[type="password"],
.mars-form input[type="email"],
.mars-form input[type="url"],
.mars-form input[type="date"],
.mars-form input[type="month"],
.mars-form input[type="time"],
.mars-form input[type="datetime"],
.mars-form input[type="datetime-local"],
.mars-form input[type="week"],
.mars-form input[type="number"],
.mars-form input[type="search"],
.mars-form input[type="tel"],
.mars-form input[type="color"],
.mars-form select,
.mars-form textarea {
    color: #000000;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    padding: 0.5em 1em;
    display: inline-block;
    border: 1px solid transparent;
    background: rgba(0,0,0,.08);
    vertical-align: middle;
    box-sizing: border-box;
}

.mars-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.mars-form input[type="color"] {
    padding: 0.2em 0.5em;
}

.mars-form input[type="text"]:focus,
.mars-form input[type="password"]:focus,
.mars-form input[type="email"]:focus,
.mars-form input[type="url"]:focus,
.mars-form input[type="date"]:focus,
.mars-form input[type="month"]:focus,
.mars-form input[type="time"]:focus,
.mars-form input[type="datetime"]:focus,
.mars-form input[type="datetime-local"]:focus,
.mars-form input[type="week"]:focus,
.mars-form input[type="number"]:focus,
.mars-form input[type="search"]:focus,
.mars-form input[type="tel"]:focus,
.mars-form input[type="color"]:focus,
.mars-form select:focus,
.mars-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

.mars-form input:not([type]):focus {
    outline: 0;
    border-color: rgb(223, 223, 223);
}

.mars-form input:focus:invalid,
.mars-form textarea:focus:invalid,
.mars-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

.mars-form input[type="file"]:focus:invalid:focus,
.mars-form input[type="radio"]:focus:invalid:focus,
.mars-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

.mars-form label {
    margin: 0.5em 0.75em 0.5em;
}

.mars-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.mars-form legend {
    display: block;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}

/* disabled  */
.mars-form input[type="text"][disabled],
.mars-form input[type="password"][disabled],
.mars-form input[type="email"][disabled],
.mars-form input[type="url"][disabled],
.mars-form input[type="date"][disabled],
.mars-form input[type="month"][disabled],
.mars-form input[type="time"][disabled],
.mars-form input[type="datetime"][disabled],
.mars-form input[type="datetime-local"][disabled],
.mars-form input[type="week"][disabled],
.mars-form input[type="number"][disabled],
.mars-form input[type="search"][disabled],
.mars-form input[type="tel"][disabled],
.mars-form input[type="color"][disabled],
.mars-form input[type="checkbox"][disabled],
.mars-form select[disabled],
.mars-form textarea[disabled] {
    cursor: not-allowed;
    background-color:#eaeded;
    color: #cad2d3;
}

.mars-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/**********************    round area   *******************/

/* not round */
.mars-form.base input[type="text"],
.mars-form.base input[type="password"],
.mars-form.base input[type="email"],
.mars-form.base input[type="url"],
.mars-form.base input[type="date"],
.mars-form.base input[type="month"],
.mars-form.base input[type="time"],
.mars-form.base input[type="datetime"],
.mars-form.base input[type="datetime-local"],
.mars-form.base input[type="week"],
.mars-form.base input[type="number"],
.mars-form.base input[type="search"],
.mars-form.base input[type="tel"],
.mars-form.base input[type="color"],
.mars-form.base select,
.mars-form.base textarea {   
    border-radius: 0px;
}

.mars-form.base input:not([type]) {
    border-radius: 0px;
}


/* little round */
.mars-form.little input[type="text"],
.mars-form.little input[type="password"],
.mars-form.little input[type="email"],
.mars-form.little input[type="url"],
.mars-form.little input[type="date"],
.mars-form.little input[type="month"],
.mars-form.little input[type="time"],
.mars-form.little input[type="datetime"],
.mars-form.little input[type="datetime-local"],
.mars-form.little input[type="week"],
.mars-form.little input[type="number"],
.mars-form.little input[type="search"],
.mars-form.little input[type="tel"],
.mars-form.little input[type="color"],
.mars-form.little select,
.mars-form.little textarea {   
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.mars-form.little input:not([type]) {
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

/* round */
.mars-form.round input[type="text"],
.mars-form.round input[type="password"],
.mars-form.round input[type="email"],
.mars-form.round input[type="url"],
.mars-form.round input[type="date"],
.mars-form.round input[type="month"],
.mars-form.round input[type="time"],
.mars-form.round input[type="datetime"],
.mars-form.round input[type="datetime-local"],
.mars-form.round input[type="week"],
.mars-form.round input[type="number"],
.mars-form.round input[type="search"],
.mars-form.round input[type="tel"],
.mars-form.round input[type="color"],
.mars-form.round select,
.mars-form.round textarea {   
    border-radius: 2em;
    padding: 0.5em 1em;
}

.mars-form.round input:not([type]) {
    border-radius: 2em;
    padding: 0.5em 1em;
}


/****************************** sizing area *************************/

/* sizing */
/* input / textarea */
.mars-form .mars-input-1 {
    width: 100%;
}
.mars-form .mars-input-3-4 {
    width: 75%;
}
.mars-form .mars-input-2-3 {
    width: 66%;
}
.mars-form .mars-input-1-2 {
    width: 50%;
}
.mars-form .mars-input-1-3 {
    width: 33%;
}
.mars-form .mars-input-1-4 {
    width: 25%;
}

/* size default */
.mars-form.size input {
    border: 2px solid transparent;
    background: rgba(0,0,0,.08);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out 0s;
}

.mars-form.size input[type="text"]:focus,
.mars-form.size input[type="password"]:focus,
.mars-form.size input[type="email"]:focus,
.mars-form.size input[type="url"]:focus,
.mars-form.size input[type="date"]:focus,
.mars-form.size input[type="month"]:focus,
.mars-form.size input[type="time"]:focus,
.mars-form.size input[type="datetime"]:focus,
.mars-form.size input[type="datetime-local"]:focus,
.mars-form.size input[type="week"]:focus,
.mars-form.size input[type="number"]:focus,
.mars-form.size input[type="search"]:focus,
.mars-form.size input[type="tel"]:focus,
.mars-form.size input[type="color"]:focus,
.mars-form.size select:focus,
.mars-form.size textarea:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
} 


/***************************** color *************************/

/* color input */

.mars-form.blue input[type="text"]:focus,
.mars-form.blue input[type="password"]:focus,
.mars-form.blue input[type="email"]:focus,
.mars-form.blue input[type="url"]:focus,
.mars-form.blue input[type="date"]:focus,
.mars-form.blue input[type="month"]:focus,
.mars-form.blue input[type="time"]:focus,
.mars-form.blue input[type="datetime"]:focus,
.mars-form.blue input[type="datetime-local"]:focus,
.mars-form.blue input[type="week"]:focus,
.mars-form.blue input[type="number"]:focus,
.mars-form.blue input[type="search"]:focus,
.mars-form.blue input[type="tel"]:focus,
.mars-form.blue input[type="color"]:focus,
.mars-form.blue select:focus,
.mars-form.blue textarea:focus {
    outline: 0;
    border-color: rgb(0,83,156);
}


.mars-form.green input[type="text"]:focus,
.mars-form.green input[type="password"]:focus,
.mars-form.green input[type="email"]:focus,
.mars-form.green input[type="url"]:focus,
.mars-form.green input[type="date"]:focus,
.mars-form.green input[type="month"]:focus,
.mars-form.green input[type="time"]:focus,
.mars-form.green input[type="datetime"]:focus,
.mars-form.green input[type="datetime-local"]:focus,
.mars-form.green input[type="week"]:focus,
.mars-form.green input[type="number"]:focus,
.mars-form.green input[type="search"]:focus,
.mars-form.green input[type="tel"]:focus,
.mars-form.green input[type="color"]:focus,
.mars-form.green select:focus,
.mars-form.green textarea:focus {
    outline: 0;
    border-color: rgb(80,200,120);
}

.mars-form.yellow input[type="text"]:focus,
.mars-form.yellow input[type="password"]:focus,
.mars-form.yellow input[type="email"]:focus,
.mars-form.yellow input[type="url"]:focus,
.mars-form.yellow input[type="date"]:focus,
.mars-form.yellow input[type="month"]:focus,
.mars-form.yellow input[type="time"]:focus,
.mars-form.yellow input[type="datetime"]:focus,
.mars-form.yellow input[type="datetime-local"]:focus,
.mars-form.yellow input[type="week"]:focus,
.mars-form.yellow input[type="number"]:focus,
.mars-form.yellow input[type="search"]:focus,
.mars-form.yellow input[type="tel"]:focus,
.mars-form.yellow input[type="color"]:focus,
.mars-form.yellow select:focus,
.mars-form.yellow textarea:focus {
    outline: 0;
    border-color: rgb(248,235,0);
}

.mars-form.pink input[type="text"]:focus,
.mars-form.pink input[type="password"]:focus,
.mars-form.pink input[type="email"]:focus,
.mars-form.pink input[type="url"]:focus,
.mars-form.pink input[type="date"]:focus,
.mars-form.pink input[type="month"]:focus,
.mars-form.pink input[type="time"]:focus,
.mars-form.pink input[type="datetime"]:focus,
.mars-form.pink input[type="datetime-local"]:focus,
.mars-form.pink input[type="week"]:focus,
.mars-form.pink input[type="number"]:focus,
.mars-form.pink input[type="search"]:focus,
.mars-form.pink input[type="tel"]:focus,
.mars-form.pink input[type="color"]:focus,
.mars-form.pink select:focus,
.mars-form.pink textarea:focus {
    outline: 0;
    border-color: rgb(217,130,181);
}

.mars-form.purple input[type="text"]:focus,
.mars-form.purple input[type="password"]:focus,
.mars-form.purple input[type="email"]:focus,
.mars-form.purple input[type="url"]:focus,
.mars-form.purple input[type="date"]:focus,
.mars-form.purple input[type="month"]:focus,
.mars-form.purple input[type="time"]:focus,
.mars-form.purple input[type="datetime"]:focus,
.mars-form.purple input[type="datetime-local"]:focus,
.mars-form.purple input[type="week"]:focus,
.mars-form.purple input[type="number"]:focus,
.mars-form.purple input[type="search"]:focus,
.mars-form.purple input[type="tel"]:focus,
.mars-form.purple input[type="color"]:focus,
.mars-form.purple select:focus,
.mars-form.purple textarea:focus {
    outline: 0;
    border-color: rgba(138, 43, 226, 1);
}

/* color size input */
.mars-form.size.blue input[type="text"]:focus,
.mars-form.size.blue input[type="password"]:focus,
.mars-form.size.blue input[type="email"]:focus,
.mars-form.size.blue input[type="url"]:focus,
.mars-form.size.blue input[type="date"]:focus,
.mars-form.size.blue input[type="month"]:focus,
.mars-form.size.blue input[type="time"]:focus,
.mars-form.size.blue input[type="datetime"]:focus,
.mars-form.size.blue input[type="datetime-local"]:focus,
.mars-form.size.blue input[type="week"]:focus,
.mars-form.size.blue input[type="number"]:focus,
.mars-form.size.blue input[type="search"]:focus,
.mars-form.size.blue input[type="tel"]:focus,
.mars-form.size.blue input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(0,83,156);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
} 

.mars-form.size.green input[type="text"]:focus,
.mars-form.size.green input[type="password"]:focus,
.mars-form.size.green input[type="email"]:focus,
.mars-form.size.green input[type="url"]:focus,
.mars-form.size.green input[type="date"]:focus,
.mars-form.size.green input[type="month"]:focus,
.mars-form.size.green input[type="time"]:focus,
.mars-form.size.green input[type="datetime"]:focus,
.mars-form.size.green input[type="datetime-local"]:focus,
.mars-form.size.green input[type="week"]:focus,
.mars-form.size.green input[type="number"]:focus,
.mars-form.size.green input[type="search"]:focus,
.mars-form.size.green input[type="tel"]:focus,
.mars-form.size.green input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(80,200,120);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.size.yellow input[type="text"]:focus,
.mars-form.size.yellow input[type="password"]:focus,
.mars-form.size.yellow input[type="email"]:focus,
.mars-form.size.yellow input[type="url"]:focus,
.mars-form.size.yellow input[type="date"]:focus,
.mars-form.size.yellow input[type="month"]:focus,
.mars-form.size.yellow input[type="time"]:focus,
.mars-form.size.yellow input[type="datetime"]:focus,
.mars-form.size.yellow input[type="datetime-local"]:focus,
.mars-form.size.yellow input[type="week"]:focus,
.mars-form.size.yellow input[type="number"]:focus,
.mars-form.size.yellow input[type="search"]:focus,
.mars-form.size.yellow input[type="tel"]:focus,
.mars-form.size.yellow input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(248,235,0);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.size.pink input[type="text"]:focus,
.mars-form.size.pink input[type="password"]:focus,
.mars-form.size.pink input[type="email"]:focus,
.mars-form.size.pink input[type="url"]:focus,
.mars-form.size.pink input[type="date"]:focus,
.mars-form.size.pink input[type="month"]:focus,
.mars-form.size.pink input[type="time"]:focus,
.mars-form.size.pink input[type="datetime"]:focus,
.mars-form.size.pink input[type="datetime-local"]:focus,
.mars-form.size.pink input[type="week"]:focus,
.mars-form.size.pink input[type="number"]:focus,
.mars-form.size.pink input[type="search"]:focus,
.mars-form.size.pink input[type="tel"]:focus,
.mars-form.size.pink input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(217,130,181);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.mars-form.size.purple input[type="text"]:focus,
.mars-form.size.purple input[type="password"]:focus,
.mars-form.size.purple input[type="email"]:focus,
.mars-form.size.purple input[type="url"]:focus,
.mars-form.size.purple input[type="date"]:focus,
.mars-form.size.purple input[type="month"]:focus,
.mars-form.size.purple input[type="time"]:focus,
.mars-form.size.purple input[type="datetime"]:focus,
.mars-form.size.purple input[type="datetime-local"]:focus,
.mars-form.size.purple input[type="week"]:focus,
.mars-form.size.purple input[type="number"]:focus,
.mars-form.size.purple input[type="search"]:focus,
.mars-form.size.purple input[type="tel"]:focus,
.mars-form.size.purple input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid rgba(138, 43, 226, 1);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}


/* common default color */
/* checkbox */
.mars-form.checkbox input {
    border-color: rgb(233,233,233);
}

.mars-form.checkbox input:not(:disabled):hover {
    border-color: #129FEA;
}

.mars-form.checkbox input:not(:disabled):checked {
    background-color: #129FEA;
    border-color: #129FEA; 
}

/* radio */
.mars-form.radio input {
    border-color: rgb(233,233,233);
}

.mars-form.radio input:not(:disabled):hover {
    border-color: #129FEA;
}

.mars-form.radio input:not(:disabled):checked {
    border-color: #129FEA;
}

.mars-form.radio .radio-check-icon svg {
    fill: #129FEA;
}

/* checkbox color */
/* hover event */

.mars-form.checkbox.blue input:not(:disabled):hover {
    border-color: rgb(0,83,156);
}

.mars-form.checkbox.green input:not(:disabled):hover {
    border-color: rgb(80,200,120);
}

.mars-form.checkbox.yellow input:not(:disabled):hover {
    border-color: rgb(248,235,0);
}

.mars-form.checkbox.pink input:not(:disabled):hover {
    border-color: rgb(217,130,181);
}

.mars-form.checkbox.purple input:not(:disabled):hover {
    border-color: rgba(138,43,226,1);
}

/* checked event */

.mars-form.checkbox.blue input:checked {
    background-color: rgb(0,83,156);
    border-color: rgb(0,83,156); 
}

.mars-form.checkbox.green input:checked {
    background-color: rgb(80,200,120);
    border-color: rgb(80,200,120); 
}

.mars-form.checkbox.pink input:checked {
    background-color: rgb(217,130,181);
    border-color: rgb(217,130,181);
}

.mars-form.checkbox.purple input:checked {
    border-color: rgb(138, 43, 226);
    background-color: rgb(138, 43, 226);
}

/* radio colors */
/* hover event */

.mars-form.radio.blue input:not(:disabled):hover {
    border-color: rgb(0,83,156);
}

.mars-form.radio.green input:not(:disabled):hover {
    border-color: rgb(80,200,120);
}

.mars-form.radio.yellow input:not(:disabled):hover {
    border-color: rgb(248,235,0);
}

.mars-form.radio.pink input:not(:disabled):hover {
    border-color: rgb(217,130,181);
}

.mars-form.radio.purple input:not(:disabled):hover {
    border-color: rgba(138,43,226,1);
}

/* checked event */

.mars-form.radio.blue input:checked {
    border-color: rgb(0,83,156);
}

.mars-form.radio.green input:checked {
    border-color: rgb(80,200,120);
}

.mars-form.radio.yellow input:checked {
    border-color: rgb(248,235,0);
}

.mars-form.radio.pink input:checked {
    border-color: rgb(217,130,181);
}

.mars-form.radio.purple input:checked {
    border-color: rgba(138,43,226,1);
}


/* radiocheckicon color */

.mars-form.radio.blue .radio-check-icon svg {
    fill: rgb(0,83,156);
}

.mars-form.radio.green .radio-check-icon svg {
    fill: rgb(80,200,120);
}

.mars-form.radio.yellow .radio-check-icon svg {
    fill: rgb(248,235,0);
}

.mars-form.radio.pink .radio-check-icon svg {
    fill: rgb(217,130,181);
}

.mars-form.radio.purple .radio-check-icon svg {
    fill: rgba(138,43,226,1);
}

/* status color */
.mars-form.size.success input:focus {
    border-bottom: 2px solid rgb(3,192,74);  
}

.mars-form.size.warning input:focus {
    border-bottom: 2px solid rgb(237,135,45);  
}

.mars-form.size.error input:focus {
    border-bottom: 2px solid rgb(227, 0, 34);  
}

/*************************** checkbox area ******************************/

/* checkbox default */

.mars-form input[type="checkbox"] {
     margin: 3px 3px 3px 4px;
     padding: initial;         
}


/* defualt attribute */
.mars-form.checkbox input {
    border-width: 3px;
    border-style: solid;
}


/* disabled attribute */
.mars-form.checkbox input:disabled {    
    color: #949494;
    background-color:#eaeded;
    border-color: #bebebe;
    border-width: 3px;
    border-style: solid;
}


.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 20px;   
}

.checkbox-check-icon {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
    color: #ffffff;
}

.checkbox-check {
    fill: #ffffff;
}

svg:not(:root) {
    overflow: hidden;
}

.mars-form .mars-checkbox {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-color: rgb(223, 223, 223);
    cursor: pointer;
}


/* checkbox-label  */
.checkbox-label  {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}

/**************** radio area ****************/


/* defualt attribute */
/* radio defualt */

.mars-form.radio input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    padding: initial;         
}

.mars-form.radio input {
    border-width: 3px;
    border-style: solid;
}

/* disabled attribute */

.mars-form.radio input:disabled {    
    color: #949494;
    background-color:#eaeded;
    border-color: #bebebe;
    border-width: 3px;
    border-style: solid;
}

.mars-form.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 20px;
}

.mars-form .mars-radio {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-color: rgb(229, 229, 229);
}

.radio-check-icon {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
}

.radio-check-icon circle:not(svg) {
    transform-origin: 0px 0px;
}

.radio-check-icon svg {
    fill: #129FEA;
}

.radio-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}