/* form main page */
.forms-wrap {
    padding: 130px;
    color: rgb(0,0,0);
    font-size: 14px;  
}

.forms-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.forms-contents > * {
    margin-bottom: 50px;
}
 
h1.forms-title {
    font-size: 32px;
    font-weight: 400;
    font-family: inherit;
    cursor: default;
    margin-bottom: 40px;
}
 
.forms-area {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: inherit;
}

.forms-label {
    display: block;
    font-weight: 700;
    font-size: 1em;
}

.mars-form legend {
    display: block;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}





