/* common color */
$default: rgb(18,159,234) !default;
$blue: rgb(0,110,207) !default;
$green: rgb(80,200,120) !default;
$yellow: rgb(248,235,0) !default;
$pink: rgb(223,150,193) !default;
$purple: rgb(162,88,232) !default;
$disabled: rgb(202,210,211) !default;
$read-only:rgb(238,238,238) !default;
$normal: rgb(0,0,0) !default;
$transparent: transparent !default;
$white:#ffffff !default;

/* button gradient color */
$gradient-default: #1233ea !default;
$gradient-blue: #002a50 !default;
$gradient-green: #319b54 !default;
$gradient-yellow:  #aca300 !default;
$gradient-pink: #c74792 !default;
$gradient-purple: #6217a9 !default;   
$gradient-primary: #0031ff !default;
$gradient-success: #006629 !default;
$gradient-warning: #f27600 !default;
$gradient-error: #d53300 !default;

/* state color */
$primary: rgb(0,176,255) !default;
$success: rgb(0,178,72) !default;
$warning: rgb(255,157,63) !default;
$error: rgb(255,87,34) !default;

/* button hovered color */
$button-hovered-color: transparent !default;

/* button disabled color */
$button-disabled-background-color: rgb(234,237,237) !default; 


/* color maps */
$color-names: "blue","green","yellow","pink","purple","primary","success","warning","error";
$colors: (
   "blue": $blue,
   "green": $green,
   "yellow": $yellow,
   "pink": $pink,
   "purple": $purple,
   "primary": $primary,
   "success": $success,
   "warning": $warning,
   "error": $error
);  

$gradient-colors: (
   "blue": $gradient-blue,
   "green": $gradient-green,
   "yellow": $gradient-yellow,
   "pink": $gradient-pink,
   "purple": $gradient-purple, 
   "primary": $gradient-primary,
   "success": $gradient-success,
   "warning": $gradient-warning,
   "error": $gradient-error
);


